Repository TheSuperHackers/GeneralsGameCode, pull requests merged in 2025-05, with the labels that each got.

#789 [GEN][ZH] Compile out duplicate serial check in LAN lobby
  Generals/Code/GameEngine/Source/GameNetwork/LANAPIhandlers.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/LANAPIhandlers.cpp
Labels: Major, Network

#770 [CORE] Build non-vcpkg builds with zlib-1.1.4 again
  Core/Libraries/Source/Compression/CMakeLists.txt
  Core/Libraries/Source/Compression/Compression.h
  Core/Libraries/Source/Compression/CompressionManager.cpp
  cmake/zlib.cmake
Labels: Minor, Build

#793 [GEN][ZH] Remove all instances of stopAllAmbientsBy()
  Generals/Code/GameEngine/Include/Common/GameAudio.h
  Generals/Code/GameEngine/Source/GameLogic/Object/Die/FXListDie.cpp
  Generals/Code/GameEngine/Source/GameLogic/System/GameLogic.cpp
  Generals/Code/GameEngineDevice/Include/MilesAudioDevice/MilesAudioManager.h
  Generals/Code/GameEngineDevice/Source/MilesAudioDevice/MilesAudioManager.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/System/GameLogic.cpp
Labels: Minor, Generals, ZeroHour, Refactor

#782 [GEN][ZH] Unify code of GameAudio and MilesAudioManager
  Generals/Code/GameEngine/Include/Common/AudioEventInfo.h
  Generals/Code/GameEngine/Include/Common/GameAudio.h
  Generals/Code/GameEngine/Source/Common/Audio/GameAudio.cpp
  Generals/Code/GameEngineDevice/Include/MilesAudioDevice/MilesAudioManager.h
  Generals/Code/GameEngineDevice/Source/MilesAudioDevice/MilesAudioManager.cpp
  GeneralsMD/Code/GameEngineDevice/Include/MilesAudioDevice/MilesAudioManager.h
Labels: Generals, ZeroHour, Refactor, Unify

#788 [GEN][ZH] Remove obsolete sec file presence checks
  Generals/Code/GameEngine/Source/Common/GameEngine.cpp
  GeneralsMD/Code/GameEngine/Source/Common/GameEngine.cpp
Labels: Generals, ZeroHour, Refactor

#795 [GEN][ZH] Fix and simplify the use of the log file in RecorderClass
  Generals/Code/GameEngine/Include/Common/Debug.h
  Generals/Code/GameEngine/Source/Common/Recorder.cpp
  Generals/Code/GameEngine/Source/Common/System/Debug.cpp
  GeneralsMD/Code/GameEngine/Include/Common/Debug.h
  GeneralsMD/Code/GameEngine/Source/Common/Recorder.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/Debug.cpp
Labels: Minor, Refactor, Debug, Fix

#791 [GEN] Backport SpecialPowerUpdate changes from Zero Hour
  Generals/Code/GameEngine/CMakeLists.txt
  Generals/Code/GameEngine/Include/Common/GameType.h
  Generals/Code/GameEngine/Include/Common/SpecialPower.h
  Generals/Code/GameEngine/Include/GameLogic/AI.h
  Generals/Code/GameEngine/Include/GameLogic/Module/BaikonurLaunchPower.h
  Generals/Code/GameEngine/Include/GameLogic/Module/BattlePlanUpdate.h
  Generals/Code/GameEngine/Include/GameLogic/Module/CashHackSpecialPower.h
  Generals/Code/GameEngine/Include/GameLogic/Module/CleanupAreaPower.h
  Generals/Code/GameEngine/Include/GameLogic/Module/DefectorSpecialPower.h
  Generals/Code/GameEngine/Include/GameLogic/Module/DemoralizeSpecialPower.h
  Generals/Code/GameEngine/Include/GameLogic/Module/MissileLauncherBuildingUpdate.h
  Generals/Code/GameEngine/Include/GameLogic/Module/OCLSpecialPower.h
  Generals/Code/GameEngine/Include/GameLogic/Module/ParticleUplinkCannonUpdate.h
  Generals/Code/GameEngine/Include/GameLogic/Module/SpecialAbility.h
  Generals/Code/GameEngine/Include/GameLogic/Module/SpecialAbilityUpdate.h
  Generals/Code/GameEngine/Include/GameLogic/Module/SpecialPowerModule.h
  Generals/Code/GameEngine/Include/GameLogic/Module/SpecialPowerUpdateModule.h
  Generals/Code/GameEngine/Include/GameLogic/Module/UpdateModule.h
  Generals/Code/GameEngine/Include/GameLogic/Object.h
  Generals/Code/GameEngine/Source/Common/RTS/SpecialPower.cpp
  Generals/Code/GameEngine/Source/GameLogic/AI/AIGroup.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/Object.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/SpecialPower/BaikonurLaunchPower.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/SpecialPower/CashHackSpecialPower.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/SpecialPower/CleanupAreaPower.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/SpecialPower/DefectorSpecialPower.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/SpecialPower/DemoralizeSpecialPower.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/SpecialPower/OCLSpecialPower.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/SpecialPower/SpecialAbility.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/SpecialPower/SpecialPowerModule.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/Update/BattlePlanUpdate.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/Update/MissileLauncherBuildingUpdate.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/Update/ParticleUplinkCannonUpdate.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/Update/SpecialAbilityUpdate.cpp
  Generals/Code/GameEngine/Source/GameLogic/ScriptEngine/ScriptActions.cpp
  Generals/Code/GameEngine/Source/GameLogic/System/GameLogicDispatch.cpp
Labels: Generals, Refactor, Unify

#803 [GEN][ZH] Fix missing rename for RTS_DEBUG, RTS_INTERNAL, RTS_PROFILE
  Core/Libraries/Source/WWVegas/WWLib/Except.cpp
  Core/Libraries/Source/WWVegas/WWLib/always.h
  Core/Tools/W3DView/DataTreeView.cpp
  Core/Tools/W3DView/DialogToolbar.cpp
  Core/Tools/W3DView/GraphicView.cpp
  Core/Tools/W3DView/MainFrm.cpp
  Core/Tools/W3DView/SoundEditDialog.cpp
  Core/Tools/W3DView/W3DView.cpp
  Core/Tools/W3DView/W3DViewDoc.cpp
  Core/Tools/W3DView/W3DViewView.cpp
  Core/Tools/WW3D/pluglib/always.h
  Generals/Code/GameEngine/Include/Common/Debug.h
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Drawable/Draw/W3DModelDraw.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DDebugIcons.cpp
  Generals/Code/Tools/WorldBuilder/src/MainFrm.cpp
  Generals/Code/Tools/WorldBuilder/src/WorldBuilder.cpp
  Generals/Code/Tools/WorldBuilder/src/WorldBuilderDoc.cpp
  Generals/Code/Tools/WorldBuilder/src/WorldBuilderView.cpp
  Generals/Code/Tools/WorldBuilder/src/wbview.cpp
  Generals/Code/Tools/WorldBuilder/src/wbview3d.cpp
  GeneralsMD/Code/GameEngine/Include/Common/Debug.h
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/Drawable/Draw/W3DModelDraw.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DDebugIcons.cpp
  GeneralsMD/Code/Libraries/Source/profile/profile_funclevel.h
  GeneralsMD/Code/Tools/WorldBuilder/src/MainFrm.cpp
  GeneralsMD/Code/Tools/WorldBuilder/src/WorldBuilder.cpp
  GeneralsMD/Code/Tools/WorldBuilder/src/WorldBuilderDoc.cpp
  GeneralsMD/Code/Tools/WorldBuilder/src/WorldBuilderView.cpp
  GeneralsMD/Code/Tools/WorldBuilder/src/wbview.cpp
  GeneralsMD/Code/Tools/WorldBuilder/src/wbview3d.cpp
  GeneralsMD/Code/Tools/wdump/mainfrm.cpp
  GeneralsMD/Code/Tools/wdump/wdeview.cpp
  GeneralsMD/Code/Tools/wdump/wdlview.cpp
  GeneralsMD/Code/Tools/wdump/wdtview.cpp
  GeneralsMD/Code/Tools/wdump/wdumpdoc.cpp
  GeneralsMD/Code/Tools/wdump/wdview.cpp
Labels: Minor, Refactor

#806 [GEN][ZH] Fix compile warnings from the use of deprecated register keywords
  Dependencies/Utility/Utility/CppMacros.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/intersec.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/AI/AIPathfind.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/intersec.cpp
Labels: Minor, CompileBug

#807 [GEN][ZH] Fix compile warnings from implicit unsigned long to HRESULT conversions in Win32DIKeyboard
  Generals/Code/GameEngineDevice/Source/Win32Device/GameClient/Win32DIKeyboard.cpp
  GeneralsMD/Code/GameEngineDevice/Source/Win32Device/GameClient/Win32DIKeyboard.cpp
Labels: Minor, CompileBug

#808 [GEN][ZH] Fix compile warnings related to the use of printf and scanf
  Core/Libraries/Source/WWVegas/WWLib/Except.cpp
  Core/Libraries/Source/WWVegas/WWLib/ini.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dazzle.cpp
  Generals/Code/Tools/GUIEdit/Source/Dialog Procedures/ListboxProperties.cpp
  Generals/Code/Tools/GUIEdit/Source/LayoutScheme.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/dazzle.cpp
  GeneralsMD/Code/Tools/GUIEdit/Source/Dialog Procedures/ListboxProperties.cpp
  GeneralsMD/Code/Tools/GUIEdit/Source/LayoutScheme.cpp
  GeneralsMD/Code/Tools/wdump/chunk_d.cpp
Labels: Minor, CompileBug

#809 [GEN][ZH] Fix dangling pointer at Player::m_defaultTeam when Team is destroyed
  Generals/Code/GameEngine/Source/Common/RTS/Player.cpp
  GeneralsMD/Code/GameEngine/Source/Common/RTS/Player.cpp
Labels: Major, Generals, ZeroHour, Fix

#811 [CMAKE] Clean up some comments in CMake scripts
  Core/Libraries/Source/WWVegas/CMakeLists.txt
  Core/Libraries/Source/WWVegas/WWDebug/CMakeLists.txt
  Core/Libraries/Source/WWVegas/WWLib/CMakeLists.txt
  Core/Libraries/Source/WWVegas/WWMath/CMakeLists.txt
  Core/Libraries/Source/WWVegas/WWSaveLoad/CMakeLists.txt
  Core/Libraries/Source/WWVegas/WWStub/CMakeLists.txt
  Generals/Code/Libraries/Source/WWVegas/WW3D2/CMakeLists.txt
  Generals/Code/Tools/ParticleEditor/CMakeLists.txt
  Generals/Code/Tools/WorldBuilder/CMakeLists.txt
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/CMakeLists.txt
Labels: Refactor

#813 [GEN] Add FXShader, BINORMAL, TANGENT chunks from BFME
  Generals/Code/Libraries/Source/WWVegas/WW3D2/w3d_file.h
Labels: Generals, Unify

#810 [GEN][ZH] Fix possible division by zero in W3DCommandBarGenExpDraw()
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/GUI/GUICallbacks/W3DControlBar.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/GUI/GUICallbacks/W3DControlBar.cpp
Labels: Minor, Fix, Crash, Mod

#818 [GEN][ZH] Remove obsolete template.h, benchmark.h
  Generals/Code/Libraries/Source/template.cpp
  Generals/Code/Libraries/Source/template.h
  GeneralsMD/Code/Libraries/Source/Benchmark/benchmark.h
  GeneralsMD/Code/Libraries/Source/template.cpp
  GeneralsMD/Code/Libraries/Source/template.h
Labels: Refactor

#821 [CORE] Unify and move GameEngine's Xfer files to Core
  Core/CMakeLists.txt
  Core/GameEngine/CMakeLists.txt
  Core/GameEngine/Include/Common/Xfer.h
  Core/GameEngine/Include/Common/XferCRC.h
  Core/GameEngine/Include/Common/XferDeepCRC.h
  Core/GameEngine/Include/Common/XferLoad.h
  Core/GameEngine/Include/Common/XferSave.h
  Core/GameEngine/Source/Common/System/Xfer.cpp
  Core/GameEngine/Source/Common/System/XferCRC.cpp
  Core/GameEngine/Source/Common/System/XferLoad.cpp
  Core/GameEngine/Source/Common/System/XferSave.cpp
  Generals/Code/GameEngine/CMakeLists.txt
  Generals/Code/GameEngine/Include/Common/Xfer.h
  Generals/Code/GameEngine/Include/Common/XferCRC.h
  Generals/Code/GameEngine/Include/Common/XferDeepCRC.h
  Generals/Code/GameEngine/Include/Common/XferLoad.h
  Generals/Code/GameEngine/Include/Common/XferSave.h
  Generals/Code/GameEngine/Source/Common/System/Xfer.cpp
  Generals/Code/GameEngine/Source/Common/System/XferCRC.cpp
  Generals/Code/GameEngine/Source/Common/System/XferLoad.cpp
  Generals/Code/GameEngine/Source/Common/System/XferSave.cpp
  GeneralsMD/Code/GameEngine/CMakeLists.txt
Labels: Unify

#823 [GEN] Fix wrong water color on radar
  Generals/Code/GameEngine/Include/GameClient/Water.h
  GeneralsMD/Code/GameEngine/Include/GameClient/Water.h
Labels: Minor, Generals, Fix

#798 [GEN][ZH] Add endian compat for BIGFileSystems
  Dependencies/Utility/Utility/CppMacros.h
  Dependencies/Utility/Utility/endian_compat.h
  Generals/Code/GameEngineDevice/Source/Win32Device/Common/Win32BIGFileSystem.cpp
  GeneralsMD/Code/GameEngineDevice/Source/StdDevice/Common/StdBIGFileSystem.cpp
  GeneralsMD/Code/GameEngineDevice/Source/Win32Device/Common/Win32BIGFileSystem.cpp
Labels: Minor, Refactor

#796 [GEN][ZH] Fix buffer overrun and memory leaks in listbox properties of GUIEdit
  Generals/Code/Tools/GUIEdit/Source/Dialog Procedures/ListboxProperties.cpp
  GeneralsMD/Code/Tools/GUIEdit/Source/Dialog Procedures/ListboxProperties.cpp
Labels: Minor, Tools, Fix, Stability

#827 [GEN] Backport fast forward feature for replay playback
  Generals/Code/GameEngine/Include/Common/GlobalData.h
  Generals/Code/GameEngine/Include/Common/MessageStream.h
  Generals/Code/GameEngine/Source/Common/GameEngine.cpp
  Generals/Code/GameEngine/Source/Common/GlobalData.cpp
  Generals/Code/GameEngine/Source/Common/MessageStream.cpp
  Generals/Code/GameEngine/Source/GameClient/MessageStream/CommandXlat.cpp
  Generals/Code/GameEngine/Source/GameClient/MessageStream/MetaEvent.cpp
  Generals/Code/GameEngine/Source/GameLogic/System/GameLogic.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DDisplay.cpp
Labels: Enhancement, Generals, Unify

#824 [GEN][ZH] Fix crash when DEBUG_CRASHING is enabled and loading a replay with unicode characters
  Generals/Code/GameEngine/Source/Common/Recorder.cpp
  GeneralsMD/Code/GameEngine/Source/Common/Recorder.cpp
Labels: Minor, Debug, Fix, Stability

#832 [GEN][ZH] Fix compile error in RecorderClass::cleanUpReplayFile when building RTS_DEBUG without DEBUG_LOGGING
  Generals/Code/GameEngine/Source/Common/Recorder.cpp
  GeneralsMD/Code/GameEngine/Source/Common/Recorder.cpp
Labels: Minor, CompileBug

#835 [GEN][ZH] Demote throw to assert in AsciiString::format_va, UnicodeString::format_va
  Generals/Code/GameEngine/Source/Common/System/AsciiString.cpp
  Generals/Code/GameEngine/Source/Common/System/UnicodeString.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/AsciiString.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/UnicodeString.cpp
Labels: Minor, Refactor, Stability

#833 [CMAKE] Disable game memory manager if ASAN is enabled
  cmake/config-memory.cmake
Labels: Minor, Build

#820 [GEN][ZH] Initialize supplyTruck variable
  Generals/Code/GameEngine/Source/GameLogic/AI/AIPlayer.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/AI/AIPlayer.cpp
Labels: Bug, Major, Fix, Stability

#844 [GEN][ZH] Fix memory leak in SortingRendererClass::Insert_To_Sorting_Pool()
  Generals/Code/Libraries/Source/WWVegas/WW3D2/sortingrenderer.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/sortingrenderer.cpp
Labels: Bug, Major, Memory

#845 [GEN][ZH] Fix memory leak in SpecialAbilityUpdate::isWithinStartAbilityRange()
  Generals/Code/GameEngine/Source/GameLogic/Object/Update/SpecialAbilityUpdate.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Update/SpecialAbilityUpdate.cpp
Labels: Bug, Minor, Memory

#837 [GEN][ZH] Fix game halting when left Alt key is pressed
  Generals/Code/Main/WinMain.cpp
  GeneralsMD/Code/Main/WinMain.cpp
Labels: Bug, Major, Fix

#851 [GEN][ZH] Enable use of Wave Editor in release build
  Generals/Code/GameEngine/Source/Common/CommandLine.cpp
  GeneralsMD/Code/GameEngine/Source/Common/CommandLine.cpp
Labels: Enhancement, Minor, Mod

#332 [GEN] Backport left click deselect functionality with Alternate Mouse Setup from Zero Hour
  Generals/Code/GameEngine/Include/GameClient/InGameUI.h
  Generals/Code/GameEngine/Source/GameClient/InGameUI.cpp
  Generals/Code/GameEngine/Source/GameClient/MessageStream/GUICommandTranslator.cpp
  Generals/Code/GameEngine/Source/GameClient/MessageStream/SelectionXlat.cpp
Labels: Enhancement, GUI, Minor, Generals, Unify

#834 [GEN] Backport Select All Aircraft feature from Zero Hour
  Generals/Code/GameEngine/Include/Common/MessageStream.h
  Generals/Code/GameEngine/Include/GameClient/InGameUI.h
  Generals/Code/GameEngine/Source/Common/MessageStream.cpp
  Generals/Code/GameEngine/Source/GameClient/InGameUI.cpp
  Generals/Code/GameEngine/Source/GameClient/MessageStream/CommandXlat.cpp
  Generals/Code/GameEngine/Source/GameClient/MessageStream/MetaEvent.cpp
  Generals/Code/GameEngine/Source/GameClient/MessageStream/SelectionXlat.cpp
Labels: Enhancement, Generals, Unify

#849 [GEN][ZH] Fix several potential buffer overruns in game code
  Core/Libraries/Source/WWVegas/WW3D2/dynamesh.cpp
  Core/Libraries/Source/WWVegas/WWDownload/ftp.h
  Generals/Code/GameEngine/Source/Common/System/SaveGame/GameState.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/PopupReplay.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/ReplayMenu.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DMouse.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/rinfo.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/SaveGame/GameState.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/PopupReplay.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/ReplayMenu.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DMouse.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/rinfo.cpp
Labels: Major, Fix, Stability

#859 [CORE] Fix VC6 compile error in max2w3d pluglib
  Core/Tools/WW3D/pluglib/CMakeLists.txt
  Core/Tools/WW3D/pluglib/Vector.H
Labels: Minor, CompileBug, Tools

#860 [GEN][ZH] Demote throw to assert in InGameUI::message, InGameUI::messageColor
  Generals/Code/GameEngine/Source/Common/System/AsciiString.cpp
  Generals/Code/GameEngine/Source/Common/System/UnicodeString.cpp
  Generals/Code/GameEngine/Source/GameClient/InGameUI.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/AsciiString.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/UnicodeString.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/InGameUI.cpp
Labels: Minor, Gen, ZH, Refactor, Stability

#861 [GEN][ZH] Demote throw to assert in AsciiString::ensureUniqueBufferOfSize, UnicodeString::ensureUniqueBufferOfSize, Dict::ensureUnique
  Generals/Code/GameEngine/Source/Common/Dict.cpp
  Generals/Code/GameEngine/Source/Common/System/AsciiString.cpp
  Generals/Code/GameEngine/Source/Common/System/UnicodeString.cpp
  GeneralsMD/Code/GameEngine/Source/Common/Dict.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/AsciiString.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/UnicodeString.cpp
Labels: Minor, Gen, ZH, Fix, Stability

#541 [GEN][ZH] Center Game App Window on startup and resolution change
  Generals/Code/GameEngine/Source/Common/GameEngine.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8wrapper.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8wrapper.h
  GeneralsMD/Code/GameEngine/Source/Common/GameEngine.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/dx8wrapper.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/dx8wrapper.h
Labels: Critical, Enhancement, Gen, ZH

#872 [GEN][ZH] Fix missing call to va_end in InGameUI::messageColor()
  Generals/Code/GameEngine/Source/GameClient/InGameUI.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/InGameUI.cpp
Labels: Minor, ThisProject, Fix

#858 [GEN][ZH] Fix unsafe calls to _vsnprintf, _vsnwprintf, _snprintf, _snwprintf
  Core/Libraries/Source/WWVegas/WW3D2/statistics.cpp
  Core/Libraries/Source/WWVegas/WWDownload/urlBuilder.cpp
  Core/Libraries/Source/WWVegas/WWLib/ini.cpp
  Core/Libraries/Source/WWVegas/WWLib/widestring.cpp
  Core/Libraries/Source/WWVegas/WWLib/wwfile.cpp
  Core/Libraries/Source/WWVegas/WWLib/wwstring.cpp
  Core/Libraries/Source/debug/debug_debug.cpp
  Core/Libraries/Source/profile/profile_highlevel.cpp
  Core/Tools/Autorun/CMakeLists.txt
  Core/Tools/Autorun/GameText.cpp
  Core/Tools/Autorun/autorun.cpp
  Core/Tools/Compress/CMakeLists.txt
  Core/Tools/textureCompress/CMakeLists.txt
  Core/Tools/textureCompress/textureCompress.cpp
  Dependencies/Utility/Utility/stdio_adapter.h
  Dependencies/Utility/Utility/string_compat.h
  Dependencies/Utility/Utility/wchar_compat.h
  Generals/Code/GameEngine/Include/Precompiled/PreRTS.h
  Generals/Code/GameEngine/Source/Common/CRCDebug.cpp
  Generals/Code/GameEngine/Source/Common/MiniLog.cpp
  Generals/Code/GameEngine/Source/Common/System/AsciiString.cpp
  Generals/Code/GameEngine/Source/Common/System/Debug.cpp
  Generals/Code/GameEngine/Source/Common/System/UnicodeString.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/WOLGameSetupMenu.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/WOLWelcomeMenu.cpp
  Generals/Code/GameEngine/Source/GameClient/InGameUI.cpp
  Generals/Code/GameEngine/Source/GameNetwork/GameSpy.cpp
  Generals/Code/GameEngine/Source/GameNetwork/GameSpy/Thread/GameResultsThread.cpp
  Generals/Code/GameEngine/Source/GameNetwork/GameSpy/Thread/PeerThread.cpp
  Generals/Code/GameEngine/Source/GameNetwork/GameSpy/Thread/PersistentStorageThread.cpp
  Generals/Code/GameEngine/Source/GameNetwork/GameSpyPersistentStorage.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Drawable/Draw/W3DModelDraw.cpp
  GeneralsMD/Code/GameEngine/Include/Precompiled/PreRTS.h
  GeneralsMD/Code/GameEngine/Source/Common/CRCDebug.cpp
  GeneralsMD/Code/GameEngine/Source/Common/MiniLog.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/AsciiString.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/Debug.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/UnicodeString.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/WOLGameSetupMenu.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/WOLWelcomeMenu.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/InGameUI.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/GameSpy/Thread/PeerThread.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/GameSpy/Thread/PersistentStorageThread.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/Drawable/Draw/W3DModelDraw.cpp
Labels: Minor, Gen, ZH, Refactor, Fix, Stability

#876 [GEN][ZH] Pause replay on CRC mismatch
  Generals/Code/GameEngine/Source/Common/Recorder.cpp
  GeneralsMD/Code/GameEngine/Source/Common/Recorder.cpp
Labels: Minor, Test

#877 [GEN][ZH] Fix infinite loop in ParticleSystemManager::update
  Generals/Code/GameEngine/Source/GameClient/System/ParticleSys.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/System/ParticleSys.cpp
Labels: Minor, Gen, ZH, Fix, Stability

#878 [GEN][ZH] Fix undefined behavior in WindowLayout::destroyWindows
  Generals/Code/GameEngine/Source/GameClient/GUI/ControlBar/ControlBar.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Diplomacy.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/DifficultySelect.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/DownloadMenu.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/LanMapSelectMenu.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/PopupCommunicator.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/QuitMenu.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/ScoreScreen.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/SkirmishMapSelectMenu.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/WOLMapSelectMenu.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/Shell/Shell.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/WindowLayout.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/ControlBar/ControlBar.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Diplomacy.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/DifficultySelect.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/DownloadMenu.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/LanMapSelectMenu.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/PopupCommunicator.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/QuitMenu.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/ScoreScreen.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/SkirmishMapSelectMenu.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/WOLMapSelectMenu.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/Shell/Shell.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/WindowLayout.cpp
Labels: Minor, Gen, ZH, Fix, Stability

#879 [GEN][ZH] Fix crash in W3DBufferManager when a shadow buffer limit is exceeded
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Shadow/W3DBufferManager.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Shadow/W3DVolumetricShadow.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/Shadow/W3DBufferManager.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/Shadow/W3DVolumetricShadow.cpp
Labels: Bug, Critical, Gen, ZH, Crash

#846 [GEN][ZH] Fix Alt-tabbing crash
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DDisplay.cpp
  Generals/Code/Main/WinMain.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DDisplay.cpp
  GeneralsMD/Code/Main/WinMain.cpp
Labels: Bug, Critical, Gen, ZH, Crash

#799 [ZH] Unify code of AsciiString
  GeneralsMD/Code/GameEngine/Include/Common/AsciiString.h
  GeneralsMD/Code/GameEngine/Include/Common/CriticalSection.h
  GeneralsMD/Code/GameEngine/Source/Common/System/AsciiString.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/CriticalSection.cpp
Labels: Minor, ZH, Unify

#889 [GEN][ZH] Rename MemoryPoolObject::deleteInstance to MemoryPoolObject::deleteInstanceInternal
  Generals/Code/GameEngine/Include/Common/GameMemory.h
  Generals/Code/GameEngine/Include/Common/GameMemoryNull.h
  GeneralsMD/Code/GameEngine/Include/Common/GameMemory.h
  GeneralsMD/Code/GameEngine/Include/Common/GameMemoryNull.h
Labels: Minor, Refactor

#651 [ZH] Implement Headless Mode
  GeneralsMD/Code/GameEngine/Include/Common/GameAudio.h
  GeneralsMD/Code/GameEngine/Include/Common/GlobalData.h
  GeneralsMD/Code/GameEngine/Include/Common/Radar.h
  GeneralsMD/Code/GameEngine/Include/GameClient/GameClient.h
  GeneralsMD/Code/GameEngine/Include/GameClient/GameWindow.h
  GeneralsMD/Code/GameEngine/Include/GameClient/GameWindowManager.h
  GeneralsMD/Code/GameEngine/Include/GameClient/Mouse.h
  GeneralsMD/Code/GameEngine/Source/Common/CommandLine.cpp
  GeneralsMD/Code/GameEngine/Source/Common/GameEngine.cpp
  GeneralsMD/Code/GameEngine/Source/Common/GlobalData.cpp
  GeneralsMD/Code/GameEngine/Source/Common/RandomValue.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/MemoryInit.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/ControlBar/ControlBar.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/Gadget/GadgetListBox.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GameWindowManager.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GameClient.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Map/TerrainLogic.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Object.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Update/DockUpdate/DockUpdate.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Weapon.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/System/GameLogic.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/System/GameLogicDispatch.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/BaseHeightMap.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/Drawable/Draw/W3DDebrisDraw.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/Drawable/Draw/W3DLaserDraw.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/Drawable/Draw/W3DModelDraw.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/Drawable/Draw/W3DRopeDraw.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/HeightMap.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DAssetManager.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DBridgeBuffer.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DDisplay.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DTerrainVisual.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DView.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameLogic/W3DGhostObject.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameLogic/W3DTerrainLogic.cpp
  GeneralsMD/Code/Main/WinMain.cpp
Labels: Enhancement, Major, ZH

#899 [GEN] Implement Headless Mode
  Generals/Code/GameEngine/Include/Common/GameAudio.h
  Generals/Code/GameEngine/Include/Common/GlobalData.h
  Generals/Code/GameEngine/Include/Common/Radar.h
  Generals/Code/GameEngine/Include/GameClient/GameClient.h
  Generals/Code/GameEngine/Include/GameClient/GameWindow.h
  Generals/Code/GameEngine/Include/GameClient/GameWindowManager.h
  Generals/Code/GameEngine/Include/GameClient/Mouse.h
  Generals/Code/GameEngine/Source/Common/CommandLine.cpp
  Generals/Code/GameEngine/Source/Common/GameEngine.cpp
  Generals/Code/GameEngine/Source/Common/GlobalData.cpp
  Generals/Code/GameEngine/Source/Common/RandomValue.cpp
  Generals/Code/GameEngine/Source/Common/System/MemoryInit.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/ControlBar/ControlBar.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/Gadget/GadgetListBox.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GameWindowManager.cpp
  Generals/Code/GameEngine/Source/GameClient/GameClient.cpp
  Generals/Code/GameEngine/Source/GameLogic/Map/TerrainLogic.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/Object.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/Update/DockUpdate/DockUpdate.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/Weapon.cpp
  Generals/Code/GameEngine/Source/GameLogic/System/GameLogic.cpp
  Generals/Code/GameEngine/Source/GameLogic/System/GameLogicDispatch.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Drawable/Draw/W3DDebrisDraw.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Drawable/Draw/W3DLaserDraw.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Drawable/Draw/W3DModelDraw.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Drawable/Draw/W3DRopeDraw.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/HeightMap.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DAssetManager.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DBridgeBuffer.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DDisplay.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DTerrainVisual.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DView.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameLogic/W3DGhostObject.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameLogic/W3DTerrainLogic.cpp
  Generals/Code/Main/WinMain.cpp
Labels: Major, Gen, Debug

#904 [GEN][ZH] Revert to uninitialized variable in AiPathFind::findGroundPath for VC6 builds to avoid mismatch with retail builds
  Generals/Code/GameEngine/Source/GameLogic/AI/AIPathfind.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/AI/AIPathfind.cpp
Labels: Major, Gen, ZH, Memory, Fix

#893 [ZH] Add missing call to IDirect3DSurface8::UnlockRect in W3DSmudge's copyRect
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DSmudge.cpp
Labels: Minor, ZH, Fix

#898 [GEN][ZH] Prevent executing death modules and spawning new objects to avoid asserts and crashes when unloading a map and destroying all objects
  Generals/Code/GameEngine/Source/GameLogic/System/GameLogic.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/System/GameLogic.cpp
Labels: Major, Gen, ZH, Crash

#892 [GEN][ZH] Fix crash when taking a screenshot while the Game Window clips over the screen edge
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DDisplay.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/ww3d.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DDisplay.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/ww3d.cpp
Labels: Bug, Major, Gen, ZH, Crash

#922 [GEN][ZH] Fix global-buffer-overflow at GUI_COMMAND_EXIT_CONTAINER in ControlBar::processCommandUI()
  Generals/Code/GameEngine/Source/GameClient/GUI/ControlBar/ControlBarCommandProcessing.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/ControlBar/ControlBarCommandProcessing.cpp
Labels: Minor, Gen, ZH, Memory, Fix, Stability

#956 [GEN][ZH] Fix compiler warnings for redundant parentheses in if statement
  Generals/Code/GameEngine/Include/GameNetwork/WOLBrowser/FEBDispatch.h
  Generals/Code/GameEngine/Source/GameClient/GUI/Gadget/GadgetTabControl.cpp
  Generals/Code/GameEngine/Source/GameClient/GameText.cpp
  Generals/Code/GameEngine/Source/GameLogic/AI/AIPathfind.cpp
  Generals/Code/GameEngine/Source/GameNetwork/Network.cpp
  GeneralsMD/Code/GameEngine/Include/GameNetwork/WOLBrowser/FEBDispatch.h
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/Gadget/GadgetTabControl.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GameText.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/AI/AIPathfind.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/Network.cpp
Labels: Minor, Refactor

#952 [GEN][ZH] Set correct size for array parameter in BezierSegment function declaration
  Generals/Code/GameEngine/Include/Common/BezierSegment.h
  GeneralsMD/Code/GameEngine/Include/Common/BezierSegment.h
Labels: Minor, Refactor

#950 [GEN][ZH] Fix incorrect grid resolution update condition in WaterRenderObjClass::setGridResolution()
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Water/W3DWater.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/Water/W3DWater.cpp
Labels: Minor, Gen, ZH, Fix

#946 [GEN][ZH] Remove obsolete and wrong code in listGroupRoomsCallback()
  Generals/Code/GameEngine/Source/GameNetwork/GameSpy/Thread/PeerThread.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/GameSpy/Thread/PeerThread.cpp
Labels: Minor, Refactor

#957 [CORE] Remove unused variables in assignment operators of Vector3Randomizer classes
  Core/Libraries/Source/WWVegas/WWLib/always.h
  Core/Libraries/Source/WWVegas/WWMath/v3_rnd.h
Labels: Minor, Refactor

#943 Fix compiler warnings for const qualifier on value return type
  Core/Libraries/Source/WWVegas/WW3D2/rendobj.h
  Generals/Code/GameEngine/Include/GameClient/Drawable.h
  Generals/Code/GameEngine/Include/GameClient/InGameUI.h
  Generals/Code/GameEngine/Include/GameLogic/Module/AIUpdate.h
  Generals/Code/GameEngine/Include/GameLogic/Module/RailroadGuideAIUpdate.h
  Generals/Code/GameEngine/Include/GameLogic/Object.h
  Generals/Code/GameEngine/Source/GameClient/Drawable.cpp
  Generals/Code/GameEngine/Source/GameClient/InGameUI.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/ww3d.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/ww3d.h
  GeneralsMD/Code/GameEngine/Include/GameClient/ChallengeGenerals.h
  GeneralsMD/Code/GameEngine/Include/GameClient/Drawable.h
  GeneralsMD/Code/GameEngine/Include/GameClient/InGameUI.h
  GeneralsMD/Code/GameEngine/Include/GameLogic/Module/AIUpdate.h
  GeneralsMD/Code/GameEngine/Include/GameLogic/Module/RailroadGuideAIUpdate.h
  GeneralsMD/Code/GameEngine/Include/GameLogic/Object.h
  GeneralsMD/Code/GameEngine/Source/GameClient/Drawable.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/InGameUI.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/ww3d.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/ww3d.h
Labels: Minor, Refactor

#947 [GEN][ZH] Fix array new / scalar delete mismatches in GameEngine, GameEngineDevice
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/WOLLoginMenu.cpp
  Generals/Code/GameEngine/Source/GameNetwork/GameSpy/Thread/ThreadUtils.cpp
  Generals/Code/GameEngine/Source/GameNetwork/NetPacket.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/WOLLoginMenu.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/Terrain/TerrainVisual.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/GameSpy/Thread/ThreadUtils.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/NetPacket.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DTerrainBackground.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DTerrainVisual.cpp
Labels: Minor, Gen, ZH, Fix, Stability

#890 [GEN][ZH] Fix crash in StateMachine when a chained StateMachine update deletes the executor StateMachine
  Core/Libraries/Source/WWVegas/WWLib/ref_ptr.h
  Generals/Code/GameEngine/Include/Common/StateMachine.h
  Generals/Code/GameEngine/Source/Common/StateMachine.cpp
  GeneralsMD/Code/GameEngine/Include/Common/StateMachine.h
  GeneralsMD/Code/GameEngine/Source/Common/StateMachine.cpp
Labels: Bug, Critical, Gen, ZH, Crash

#964 [GEN][ZH] Fix crash in AIUpdateInterface::privateMoveAwayFromUnit() when a delayed AICommandParms relates to a then deleted object
  Generals/Code/GameEngine/Source/GameLogic/Object/Update/AIUpdate.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Update/AIUpdate.cpp
Labels: Bug, Critical, Gen, ZH, Crash

#973 [GEN][ZH] Add null pointer tests in AIUpdateInterface::privateCommandButtonObject(), privateGuardObject()
  Generals/Code/GameEngine/Source/GameLogic/Object/Update/AIUpdate.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Update/AIUpdate.cpp
Labels: Minor, Gen, ZH, Fix

#977 [GEN][ZH] Fix wrong assert condition in ClientInstance::getInstanceIndex()
  Generals/Code/GameEngine/Source/GameClient/ClientInstance.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/ClientInstance.cpp
Labels: Minor, Debug, Fix

#906 [GEN][ZH] Implement Network Lobby support for multi instance clients
  Generals/Code/GameEngine/Include/GameNetwork/IPEnumeration.h
  Generals/Code/GameEngine/Include/GameNetwork/networkutil.h
  Generals/Code/GameEngine/Source/GameClient/ClientInstance.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/LanLobbyMenu.cpp
  Generals/Code/GameEngine/Source/GameNetwork/IPEnumeration.cpp
  GeneralsMD/Code/GameEngine/Include/GameNetwork/IPEnumeration.h
  GeneralsMD/Code/GameEngine/Include/GameNetwork/networkutil.h
  GeneralsMD/Code/GameEngine/Source/GameClient/ClientInstance.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/LanLobbyMenu.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/IPEnumeration.cpp
Labels: Enhancement, Major, Gen, ZH, Debug

#965 [GEN][ZH] Implement fake CRC for Generals CD 1.08, Zero Hour CD 1.04 executable compatibility
  Generals/Code/GameEngine/Include/Common/crc.h
  Generals/Code/GameEngine/Source/Common/GlobalData.cpp
  Generals/Code/Main/CMakeLists.txt
  GeneralsMD/Code/GameEngine/Include/Common/crc.h
  GeneralsMD/Code/GameEngine/Source/Common/GlobalData.cpp
Labels: Critical, Network, Gen, ZH

#983 Improve use of RETAIL_COMPATIBLE_CRC macro
  Generals/Code/GameEngine/Include/Common/crc.h
  Generals/Code/GameEngine/Source/Common/GlobalData.cpp
  GeneralsMD/Code/GameEngine/Include/Common/crc.h
  GeneralsMD/Code/GameEngine/Source/Common/GlobalData.cpp
Labels: Refactor

#984 [GEN][ZH] Fix missing OLDER REPLAY VERSION dialog when double clicking a replay to load
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/ReplayMenu.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/ReplayMenu.cpp
Labels: Bug, GUI, Minor, Gen, ZH, Refactor
