Repository TheSuperHackers/GeneralsGameCode, pull requests merged in 2025-04, with the labels that each got.

#479 [ZH] Replace inline assembler for non VS6 builds
  Dependencies/Utility/Utility/intrin_compat.h
  GeneralsMD/Code/GameEngine/Include/Common/PerfTimer.h
  GeneralsMD/Code/GameEngine/Include/Common/crc.h
  GeneralsMD/Code/GameEngine/Source/Common/PerfTimer.cpp
  GeneralsMD/Code/Libraries/Include/Lib/BaseType.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/dx8wrapper.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WWDebug/CMakeLists.txt
  GeneralsMD/Code/Libraries/Source/WWVegas/WWDebug/wwdebug.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WWDebug/wwdebug.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WWDebug/wwprofile.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WWLib/CMakeLists.txt
  GeneralsMD/Code/Libraries/Source/WWVegas/WWLib/Except.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WWLib/TARGA.CPP
  GeneralsMD/Code/Libraries/Source/WWVegas/WWLib/cpudetect.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WWLib/lcw.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WWLib/mpu.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WWLib/mutex.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WWMath/vector3.h
  GeneralsMD/Code/Libraries/Source/profile/CMakeLists.txt
  GeneralsMD/Code/Libraries/Source/profile/internal.h
  GeneralsMD/Code/Tools/timingTest/timingTest.cpp
Labels: Critical, Build, ZeroHour

#508 [GEN] Replace inline assembler for non VS6 builds
  Generals/Code/GameEngine/Include/Common/PerfTimer.h
  Generals/Code/Libraries/Include/Lib/BaseType.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8wrapper.h
  Generals/Code/Libraries/Source/WWVegas/WWDebug/CMakeLists.txt
  Generals/Code/Libraries/Source/WWVegas/WWDebug/wwdebug.h
  Generals/Code/Libraries/Source/WWVegas/WWDebug/wwprofile.cpp
  Generals/Code/Libraries/Source/WWVegas/WWLib/CMakeLists.txt
  Generals/Code/Libraries/Source/WWVegas/WWLib/cpudetect.cpp
  Generals/Code/Libraries/Source/WWVegas/WWLib/lcw.cpp
  Generals/Code/Libraries/Source/WWVegas/WWLib/mpu.cpp
  Generals/Code/Libraries/Source/WWVegas/WWMath/vector3.h
  Generals/Code/Tools/timingTest/timingTest.cpp
Labels: Critical, Build, Generals

#558 [GEN] Backport TriIndex typedef
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Shadow/W3DVolumetricShadow.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DBridgeBuffer.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/aabtree.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/aabtreebuilder.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/aabtreebuilder.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/boxrobj.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/decalmsh.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/decalmsh.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8renderer.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dynamesh.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dynamesh.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/mesh.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/meshgeometry.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/meshgeometry.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/meshmdl.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/meshmdl.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/meshmdlio.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/ringobj.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/seglinerenderer.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/shattersystem.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/sphereobj.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/sphereobj.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/visrasterizer.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/visrasterizer.h
Labels: Minor, Generals, Refactor

#467 [GEN][ZH] Fix stack-buffer-underflow in Win32BIGFileSystem::openArchiveFile
  Generals/Code/GameEngineDevice/Source/Win32Device/Common/Win32BIGFileSystem.cpp
  GeneralsMD/Code/GameEngineDevice/Source/Win32Device/Common/Win32BIGFileSystem.cpp
Labels: Bug, Minor, ZeroHour

#465 [GEN][ZH] Fix stack-buffer-overflow in HotKeyTranslator::translateGameMessage
  Generals/Code/GameEngine/Source/GameClient/MessageStream/HotKey.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/MessageStream/HotKey.cpp
Labels: Bug, Minor, ZeroHour

#466 [ZH] Fix global-buffer-overflow in Init_D3D_To_WW3_Conversion
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/formconv.cpp
Labels: Bug, Major, ZeroHour

#469 [GEN][ZH] Fix heap-use-after-free in TeamInQueue::~TeamInQueue
  Generals/Code/GameEngine/Include/Common/Player.h
  Generals/Code/GameEngine/Source/Common/RTS/Player.cpp
  Generals/Code/GameEngine/Source/Common/RTS/PlayerList.cpp
  GeneralsMD/Code/GameEngine/Include/Common/Player.h
  GeneralsMD/Code/GameEngine/Source/Common/RTS/Player.cpp
  GeneralsMD/Code/GameEngine/Source/Common/RTS/PlayerList.cpp
Labels: Bug, Major, ZeroHour

#559 [GEN] Backport TextureFilterClass
  Generals/Code/GameEngine/Source/GameClient/MapUtil.cpp
  Generals/Code/GameEngineDevice/Include/W3DDevice/GameClient/W3DAssetManager.h
  Generals/Code/GameEngineDevice/Include/W3DDevice/GameClient/W3DShroud.h
  Generals/Code/GameEngineDevice/Source/W3DDevice/Common/System/W3DRadar.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/HeightMap.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Shadow/W3DProjectedShadow.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/TerrainTex.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DAssetManager.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DBibBuffer.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DBridgeBuffer.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DCustomEdging.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DRoadBuffer.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DShaderManager.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DShroud.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DTreeBuffer.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DVideoBuffer.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Water/W3DWater.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/CMakeLists.txt
  Generals/Code/Libraries/Source/WWVegas/WW3D2/assetmgr.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/assetmgr.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/bmp2d.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8texman.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8wrapper.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8wrapper.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/font3d.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/metalmap.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/missingtexture.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/part_emt.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/render2d.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/render2dsentence.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/texproject.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/texture.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/texture.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/texturefilter.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/texturefilter.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/textureloader.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/textureloader.h
Labels: Minor, Generals, Refactor

#573 [GEN][ZH] Remove superfluous tokens after endif
  Generals/Code/GameEngine/Include/Common/GameLOD.h
  Generals/Code/GameEngine/Include/GameClient/ShellHooks.h
  Generals/Code/GameEngine/Source/Common/System/GameMemory.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/Behavior/DumbProjectileBehavior.cpp
  Generals/Code/GameEngine/Source/GameLogic/System/GameLogic.cpp
  Generals/Code/GameEngine/Source/GameNetwork/GameSpy/MainMenuUtils.cpp
  Generals/Code/GameEngine/Source/GameNetwork/GameSpy/StagingRoomGameInfo.cpp
  Generals/Code/Libraries/Source/Compression/LZHCompress/NoxCompress.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8renderer.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/segline.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/streak.h
  Generals/Code/Libraries/Source/WWVegas/WWDownload/urlBuilder.h
  Generals/Code/Libraries/Source/WWVegas/WWLib/chunkio.h
  Generals/Code/Tools/WW3D/pluglib/chunkio.h
  GeneralsMD/Code/GameEngine/Include/Common/GameLOD.h
  GeneralsMD/Code/GameEngine/Include/GameClient/ShellHooks.h
  GeneralsMD/Code/GameEngine/Source/Common/System/GameMemory.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Behavior/DumbProjectileBehavior.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Object.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Weapon.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/System/GameLogic.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/GameSpy/MainMenuUtils.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/GameSpy/StagingRoomGameInfo.cpp
  GeneralsMD/Code/Libraries/Source/Compression/LZHCompress/NoxCompress.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/dx8renderer.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/segline.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/streak.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WWDownload/urlBuilder.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WWLib/Except.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WWLib/chunkio.h
  GeneralsMD/Code/Libraries/Source/WWVegas/wwshade/shddefmanager.h
  GeneralsMD/Code/Tools/WW3D/pluglib/chunkio.h
  GeneralsMD/Code/Tools/WorldBuilder/include/RulerOptions.h
Labels: Minor, Refactor

#570 [GEN] Remove obsolete _PLAYTEST macro
  Generals/Code/GameEngine/Include/Common/GameCommon.h
  Generals/Code/GameEngine/Include/Common/MessageStream.h
  Generals/Code/GameEngine/Include/Common/Player.h
  Generals/Code/GameEngine/Include/GameLogic/AIPlayer.h
  Generals/Code/GameEngine/Include/GameLogic/AISkirmishPlayer.h
  Generals/Code/GameEngine/Include/GameLogic/GameLogic.h
  Generals/Code/GameEngine/Source/Common/CommandLine.cpp
  Generals/Code/GameEngine/Source/Common/GameEngine.cpp
  Generals/Code/GameEngine/Source/Common/GlobalData.cpp
  Generals/Code/GameEngine/Source/Common/MessageStream.cpp
  Generals/Code/GameEngine/Source/Common/RTS/Player.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/ControlBarPopupDescription.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/InGameChat.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/MainMenu.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/MapSelectMenu.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/OptionsMenu.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/PopupHostGame.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/ScoreScreen.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/SkirmishGameOptionsMenu.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/WOLWelcomeMenu.cpp
  Generals/Code/GameEngine/Source/GameClient/InGameUI.cpp
  Generals/Code/GameEngine/Source/GameClient/MessageStream/CommandXlat.cpp
  Generals/Code/GameEngine/Source/GameClient/MessageStream/LookAtXlat.cpp
  Generals/Code/GameEngine/Source/GameClient/MessageStream/MetaEvent.cpp
  Generals/Code/GameEngine/Source/GameLogic/AI/AIPlayer.cpp
  Generals/Code/GameEngine/Source/GameLogic/AI/AISkirmishPlayer.cpp
  Generals/Code/GameEngine/Source/GameLogic/ScriptEngine/ScriptActions.cpp
  Generals/Code/GameEngine/Source/GameLogic/System/GameLogic.cpp
  Generals/Code/GameEngine/Source/GameNetwork/GUIUtil.cpp
  Generals/Code/GameEngine/Source/GameNetwork/LANAPICallbacks.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DView.cpp
Labels: Minor, Generals

#561 [ZH] Port DEBUG_LOG_LEVEL from Generals
  GeneralsMD/Code/GameEngine/Include/Common/Debug.h
  GeneralsMD/Code/GameEngine/Source/Common/CommandLine.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/Debug.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/ConnectionManager.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/FrameDataManager.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/NetPacket.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/Network.cpp
Labels: Minor, Generals, Refactor

#582 [GEN][ZH] Remove WPAudio
  Generals/Code/GameEngine/CMakeLists.txt
  Generals/Code/GameEngine/Include/Common/GameSpeech.h
  Generals/Code/GameEngine/Source/Common/Audio/GameSpeech.cpp
  Generals/Code/Libraries/Source/WPAudio/AUD_Assert.cpp
  Generals/Code/Libraries/Source/WPAudio/AUD_Attributes.cpp
  Generals/Code/Libraries/Source/WPAudio/AUD_Cache.cpp
  Generals/Code/Libraries/Source/WPAudio/AUD_Channel.cpp
  Generals/Code/Libraries/Source/WPAudio/AUD_DSoundDriver.cpp
  Generals/Code/Libraries/Source/WPAudio/AUD_Device.cpp
  Generals/Code/Libraries/Source/WPAudio/AUD_Events.cpp
  Generals/Code/Libraries/Source/WPAudio/AUD_Level.cpp
  Generals/Code/Libraries/Source/WPAudio/AUD_List.cpp
  Generals/Code/Libraries/Source/WPAudio/AUD_Lock.cpp
  Generals/Code/Libraries/Source/WPAudio/AUD_Memory.cpp
  Generals/Code/Libraries/Source/WPAudio/AUD_Profiler.cpp
  Generals/Code/Libraries/Source/WPAudio/AUD_Source.cpp
  Generals/Code/Libraries/Source/WPAudio/AUD_StreamBuffering.cpp
  Generals/Code/Libraries/Source/WPAudio/AUD_Streamer.cpp
  Generals/Code/Libraries/Source/WPAudio/AUD_Time.cpp
  Generals/Code/Libraries/Source/WPAudio/AUD_Windows.cpp
  Generals/Code/Libraries/Source/WPAudio/WPAudio.dsp
  GeneralsMD/Code/GameEngine/CMakeLists.txt
  GeneralsMD/Code/GameEngine/Include/Common/GameSpeech.h
  GeneralsMD/Code/GameEngine/Source/Common/Audio/GameSpeech.cpp
  GeneralsMD/Code/Libraries/Source/WPAudio/AUD_Assert.cpp
  GeneralsMD/Code/Libraries/Source/WPAudio/AUD_Attributes.cpp
  GeneralsMD/Code/Libraries/Source/WPAudio/AUD_Cache.cpp
  GeneralsMD/Code/Libraries/Source/WPAudio/AUD_Channel.cpp
  GeneralsMD/Code/Libraries/Source/WPAudio/AUD_DSoundDriver.cpp
  GeneralsMD/Code/Libraries/Source/WPAudio/AUD_Device.cpp
  GeneralsMD/Code/Libraries/Source/WPAudio/AUD_Events.cpp
  GeneralsMD/Code/Libraries/Source/WPAudio/AUD_Level.cpp
  GeneralsMD/Code/Libraries/Source/WPAudio/AUD_List.cpp
  GeneralsMD/Code/Libraries/Source/WPAudio/AUD_Lock.cpp
  GeneralsMD/Code/Libraries/Source/WPAudio/AUD_Memory.cpp
  GeneralsMD/Code/Libraries/Source/WPAudio/AUD_Profiler.cpp
  GeneralsMD/Code/Libraries/Source/WPAudio/AUD_Source.cpp
  GeneralsMD/Code/Libraries/Source/WPAudio/AUD_StreamBuffering.cpp
  GeneralsMD/Code/Libraries/Source/WPAudio/AUD_Streamer.cpp
  GeneralsMD/Code/Libraries/Source/WPAudio/AUD_Time.cpp
  GeneralsMD/Code/Libraries/Source/WPAudio/AUD_Windows.cpp
  GeneralsMD/Code/Libraries/Source/WPAudio/WPAudio.dsp
Labels: Minor, Build, Generals, ZeroHour

#585 [GitHub] Update bug report template
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yml
Labels: Documentation

#579 [ZH] Port mod cursor support from Generals
  GeneralsMD/Code/GameEngineDevice/Source/Win32Device/GameClient/Win32Mouse.cpp
Labels: Minor, ZeroHour, Fixing

#569 [ZH] Fix BitTest macro name in Win32DIMouse.cpp
  GeneralsMD/Code/GameEngineDevice/Source/Win32Device/GameClient/Win32DIMouse.cpp
Labels: Minor, ThisProject, Fixing

#545 [ZH] Fix Replay CRC Checking
  GeneralsMD/Code/GameEngine/Source/Common/Recorder.cpp
Labels: Bug, Major

#587 [GitHub] Cancel in-progress jobs only for pull requests
  .github/workflows/ci.yml
Labels: Minor, Build

#584 [ZH] Add cmake setup for WWAudio and make it compile with VS2022
  GeneralsMD/Code/Libraries/Source/WWVegas/CMakeLists.txt
  GeneralsMD/Code/Libraries/Source/WWVegas/WWAudio/AudioEvents.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WWAudio/CMakeLists.txt
  GeneralsMD/Code/Libraries/Source/WWVegas/WWAudio/PriorityVector.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WWAudio/SoundScene.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WWAudio/SoundScene.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WWAudio/WWAudio.cpp
Labels: Minor, Build, ZeroHour, Tools

#588 [Git] Expand gitignore to include CLion / JetBrains IDEs
  .gitignore
Labels: Minor

#583 [GEN] Bring Matrix3, Matrix4 of WWMath in line with Zero Hour
  Generals/Code/GameEngineDevice/Include/W3DDevice/GameClient/W3DVolumetricShadow.h
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Shadow/W3DProjectedShadow.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Shadow/W3DVolumetricShadow.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/TerrainTex.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DShaderManager.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DStatusCircle.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Water/W3DWater.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/camera.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/camera.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dazzle.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/decalmsh.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/decalsys.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8wrapper.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/mapper.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/mapper.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/matrixmapper.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/matrixmapper.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/meshmdl.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/pointgr.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/projector.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/projector.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/render2d.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/seglinerenderer.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/sortingrenderer.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/sphereobj.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/streakRender.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/texproject.cpp
  Generals/Code/Libraries/Source/WWVegas/WWMath/Vector3i.h
  Generals/Code/Libraries/Source/WWVegas/WWMath/aabtreecull.cpp
  Generals/Code/Libraries/Source/WWVegas/WWMath/colmathobbox.cpp
  Generals/Code/Libraries/Source/WWVegas/WWMath/colmathplane.cpp
  Generals/Code/Libraries/Source/WWVegas/WWMath/matrix3.cpp
  Generals/Code/Libraries/Source/WWVegas/WWMath/matrix3.h
  Generals/Code/Libraries/Source/WWVegas/WWMath/matrix3d.cpp
  Generals/Code/Libraries/Source/WWVegas/WWMath/matrix3d.h
  Generals/Code/Libraries/Source/WWVegas/WWMath/matrix4.cpp
  Generals/Code/Libraries/Source/WWVegas/WWMath/matrix4.h
  Generals/Code/Libraries/Source/WWVegas/WWMath/obbox.cpp
  Generals/Code/Libraries/Source/WWVegas/WWMath/obbox.h
  Generals/Code/Libraries/Source/WWVegas/WWMath/quat.cpp
  Generals/Code/Libraries/Source/WWVegas/WWMath/quat.h
  Generals/Code/Libraries/Source/WWVegas/WWMath/vp.cpp
  Generals/Code/Libraries/Source/WWVegas/WWMath/vp.h
  Generals/Code/Libraries/Source/WWVegas/WWMath/wwmath.h
  Generals/Code/Tools/WorldBuilder/src/DrawObject.cpp
Labels: Minor, Generals, Refactor

#592 [GEN][ZH] Remove library placeholder folders
  Generals/Code/GameEngine/Include/Common/SafeDisk/.gitignore
  Generals/Code/Libraries/DX90SDK/.gitignore
  Generals/Code/Libraries/Include/Granny/.gitignore
  Generals/Code/Libraries/Include/MSS/.gitignore
  Generals/Code/Libraries/STLport-4.5.3/.gitignore
  Generals/Code/Libraries/Source/Benchmark/.gitignore
  Generals/Code/Libraries/Source/Compression/LZHCompress/CompLibHeader/.gitignore
  Generals/Code/Libraries/Source/Compression/LZHCompress/CompLibSource/.gitignore
  Generals/Code/Libraries/Source/Compression/ZLib/.gitignore
  Generals/Code/Libraries/Source/GameSpy/.gitignore
  Generals/Code/Libraries/Source/WWVegas/Miles6/.gitignore
  Generals/Code/Libraries/max4sdk/.gitignore
  Generals/Code/Tools/Launcher/SafeDisk/.gitignore
  Generals/Code/Tools/NVASM/.gitignore
  GeneralsMD/Code/GameEngine/Include/Common/SafeDisc/.gitignore
  GeneralsMD/Code/Libraries/Include/Granny/.gitignore
  GeneralsMD/Code/Libraries/Include/MSS/.gitignore
  GeneralsMD/Code/Libraries/Lib/.gitignore
  GeneralsMD/Code/Libraries/Source/Compression/LZHCompress/CompLibHeader/.gitignore
  GeneralsMD/Code/Libraries/Source/Compression/LZHCompress/CompLibSource/.gitignore
  GeneralsMD/Code/Libraries/Source/Compression/ZLib/.gitignore
  GeneralsMD/Code/Libraries/Source/DX90SDK/.gitignore
  GeneralsMD/Code/Libraries/Source/GameSpy/.gitignore
  GeneralsMD/Code/Libraries/Source/STLport-4.5.3/.gitignore
  GeneralsMD/Code/Libraries/Source/WWVegas/Miles6/.gitignore
  GeneralsMD/Code/Libraries/Source/max4sdk/.gitignore
  GeneralsMD/Code/Tools/Launcher/SafeDisk/.gitignore
  GeneralsMD/Code/Tools/NVASM/.gitignore
Labels: Minor, Build

#598 [GEN][ZH] Readd WWVegas/WWLib/rcfile.cpp for w3dview
  Generals/Code/Libraries/Source/WWVegas/WWLib/CMakeLists.txt
  Generals/Code/Libraries/Source/WWVegas/WWLib/rcfile.cpp
  Generals/Code/Libraries/Source/WWVegas/WWLib/rcfile.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WWLib/CMakeLists.txt
  GeneralsMD/Code/Libraries/Source/WWVegas/WWLib/rcfile.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WWLib/rcfile.h
Labels: Minor, Build

#594 [GEN] Fix Replay CRC Checking
  Generals/Code/GameEngine/Source/Common/Recorder.cpp
Labels: Bug, Major

#593 [CMake] Add doxygen targets for documentation
  Generals/CMakeLists.txt
  GeneralsMD/CMakeLists.txt
Labels: Documentation

#562 [GEN][ZH] Add optional game memory null replacement
  Generals/Code/GameEngine/CMakeLists.txt
  Generals/Code/GameEngine/Include/Common/GameMemory.h
  Generals/Code/GameEngine/Include/Common/GameMemoryNull.h
  Generals/Code/GameEngine/Source/Common/System/GameMemoryNull.cpp
  Generals/Code/Libraries/Source/WWVegas/WWLib/always.h
  GeneralsMD/Code/GameEngine/CMakeLists.txt
  GeneralsMD/Code/GameEngine/Include/Common/GameMemory.h
  GeneralsMD/Code/GameEngine/Include/Common/GameMemoryNull.h
  GeneralsMD/Code/GameEngine/Source/Common/System/GameMemoryNull.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WWLib/always.h
  cmake/config.cmake
Labels: Major, Memory

#607 [GEN] Bring WWSaveLoad and WWUtil in line with Zero Hour
  Generals/Code/Libraries/Source/WWVegas/WWSaveLoad/definition.h
  Generals/Code/Libraries/Source/WWVegas/WWSaveLoad/definitionmgr.cpp
  Generals/Code/Libraries/Source/WWVegas/WWSaveLoad/editable.h
  Generals/Code/Libraries/Source/WWVegas/WWSaveLoad/parameter.cpp
  Generals/Code/Libraries/Source/WWVegas/WWSaveLoad/parameter.h
  Generals/Code/Libraries/Source/WWVegas/WWSaveLoad/parameterlist.h
  Generals/Code/Libraries/Source/WWVegas/WWSaveLoad/saveload.cpp
  Generals/Code/Libraries/Source/WWVegas/WWSaveLoad/saveload.h
  Generals/Code/Libraries/Source/WWVegas/WWSaveLoad/saveloadstatus.cpp
  Generals/Code/Libraries/Source/WWVegas/WWSaveLoad/saveloadstatus.h
  Generals/Code/Libraries/Source/WWVegas/WWSaveLoad/twiddler.cpp
  Generals/Code/Libraries/Source/WWVegas/Wwutil/mathutil.cpp
  Generals/Code/Libraries/Source/WWVegas/Wwutil/mathutil.h
  Generals/Code/Libraries/Source/WWVegas/Wwutil/miscutil.cpp
Labels: Minor, Generals, Unify

#608 [GEN] Bring WW3D2 partially in line with Zero Hour
  Generals/Code/GameEngine/Include/GameClient/View.h
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Shadow/W3DProjectedShadow.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DScene.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DView.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/aabtree.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/aabtree.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/aabtreebuilder.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/boxrobj.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/boxrobj.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/colorspace.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/coltest.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/coltype.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/ddsfile.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/decalmsh.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8fvf.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8webbrowser.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dynamesh.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dynamesh.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/font3d.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/formconv.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/formconv.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/hlod.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/hlod.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/intersec.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/meshbuild.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/missingtexture.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/pointgr.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/pointgr.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/predlod.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/predlod.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/prim_anim.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/proto.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/rendobj.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/rendobj.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/rinfo.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/ringobj.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/scene.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/scene.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/shader.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/sphereobj.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/w3d_file.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/ww3dformat.h
Labels: Minor, Generals, Unify

#599 [ZH] Add FXShader chunks from BFME
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/w3d_file.h
  GeneralsMD/Code/Tools/wdump/chunk_d.cpp
  GeneralsMD/Code/Tools/wdump/chunk_d.h
Labels: Enhancement, Minor, Tools

#604 [CMake] Add cmake option for enabling address sanitizer
  cmake/compilers.cmake
  cmake/config.cmake
Labels: Minor, Build, Testing

#633 [GEN] Make DX8Caps a class to mirror Zero Hour
  Generals/Code/GameEngineDevice/Source/W3DDevice/Common/System/W3DRadar.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Shadow/W3DVolumetricShadow.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DDisplay.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DScene.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DShaderManager.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8caps.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8caps.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8indexbuffer.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8renderer.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8vertexbuffer.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8wrapper.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8wrapper.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/meshmatdesc.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/render2d.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/shader.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/statistics.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/texture.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/texturefilter.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/textureloader.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/ww3dformat.cpp
Labels: Minor, Generals, Unify

#630 [GEN][ZH] Fix stlport iterator use to conform with STL
  Generals/Code/GameEngine/Source/GameClient/GUI/ControlBar/ControlBar.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/Contain/MobNexusContain.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/Contain/OpenContain.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/Contain/OverlordContain.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/Contain/TransportContain.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/PartitionManager.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/Update/AIUpdate/RailroadGuideAIUpdate.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/ControlBar/ControlBar.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Contain/MobNexusContain.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Contain/OpenContain.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Contain/OverlordContain.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Contain/TransportContain.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/PartitionManager.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Update/AIUpdate/RailroadGuideAIUpdate.cpp
Labels: Major, Generals, ZeroHour, Fixing, Stability

#634 [ZH] Remove superfluous CriticalSectionClass
  GeneralsMD/Code/Libraries/Source/WWVegas/WWLib/critsection.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WWLib/critsection.h
Labels: Minor, Build, ZeroHour

#635 [GEN] Bring Thumbnail state checks closer to Zero Hour
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DDisplay.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Water/W3DWater.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/texture.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/ww3d.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/ww3d.h
  Generals/Code/Tools/WorldBuilder/src/wbview3d.cpp
Labels: Minor, Generals, Refactor, Unify

#629 [GEN][ZH] Fix invalidated iterator access in ScriptEngine::evaluateAndProgressAllSequentialScripts
  Generals/Code/GameEngine/Source/GameLogic/ScriptEngine/ScriptEngine.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/ScriptEngine/ScriptEngine.cpp
Labels: Major, Generals, ZeroHour, Fixing, Stability

#631 [GEN][ZH] Fix list element erasure with iterator on unrelated container in ResourceGatheringManager::findBestSupplyCenter, MilesAudioManager::killLowestPrioritySoundImmediately
  Generals/Code/GameEngine/Source/Common/RTS/ResourceGatheringManager.cpp
  Generals/Code/GameEngine/Source/Common/System/SubsystemInterface.cpp
  Generals/Code/GameEngineDevice/Source/MilesAudioDevice/MilesAudioManager.cpp
  GeneralsMD/Code/GameEngine/Source/Common/RTS/ResourceGatheringManager.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/SubsystemInterface.cpp
  GeneralsMD/Code/GameEngineDevice/Source/MilesAudioDevice/MilesAudioManager.cpp
Labels: Minor, Generals, ZeroHour, Fixing, Stability

#617 [CMAKE] Setup Core folder with shared code
  CMakeLists.txt
  Core/.gitignore
  Core/CMakeLists.txt
  Core/Libraries/CMakeLists.txt
  Core/Libraries/Source/EABrowserDispatch/BrowserDispatch.idl
  Core/Libraries/Source/EABrowserDispatch/CMakeLists.txt
  Core/Libraries/Source/EABrowserEngine/BrowserEngine.idl
  Core/Libraries/Source/EABrowserEngine/CMakeLists.txt
  Generals/Code/GameEngine/CMakeLists.txt
  Generals/Code/Libraries/CMakeLists.txt
  Generals/Code/Libraries/Source/EABrowserDispatch/CMakeLists.txt
  Generals/Code/Libraries/Source/EABrowserEngine/CMakeLists.txt
  Generals/Code/Libraries/Source/WWVegas/WW3D2/CMakeLists.txt
  Generals/Code/Tools/WorldBuilder/CMakeLists.txt
  GeneralsMD/Code/GameEngine/CMakeLists.txt
  GeneralsMD/Code/Libraries/CMakeLists.txt
  GeneralsMD/Code/Libraries/Source/EABrowserDispatch/BrowserDispatch.idl
  GeneralsMD/Code/Libraries/Source/EABrowserEngine/BrowserEngine.idl
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/CMakeLists.txt
  GeneralsMD/Code/Tools/WorldBuilder/CMakeLists.txt
Labels: Minor, Build, Unify

#639 [GEN][ZH] Fix compiler warnings for implicit integer conversion
  Generals/Code/GameEngine/Source/Common/System/Trig.cpp
  Generals/Code/Libraries/Source/WWVegas/WWLib/random.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/Trig.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WWLib/random.cpp
Labels: Minor, Generals, ZeroHour, Fix

#640 [GEN][ZH] Fix compiler warnings for uninitialized variables in copy constructors
  Generals/Code/GameEngine/Include/Common/GlobalData.h
  Generals/Code/GameEngine/Include/Common/ThingTemplate.h
  Generals/Code/GameEngine/Source/Common/GlobalData.cpp
  GeneralsMD/Code/GameEngine/Include/Common/GlobalData.h
  GeneralsMD/Code/GameEngine/Include/Common/ThingTemplate.h
  GeneralsMD/Code/GameEngine/Source/Common/GlobalData.cpp
Labels: Minor, Generals, ZeroHour, Fix

#616 [GEN] Compile out unused bump mapped water
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Water/W3DWater.cpp
Labels: Major, Generals, Fix, Unify

#643 [GEN][ZH] Correct the most egregious signed / unsigned mismatch warnings
  Generals/Code/GameEngine/Include/Common/ThingTemplate.h
  Generals/Code/GameEngine/Include/GameLogic/ObjectTypes.h
  GeneralsMD/Code/GameEngine/Include/Common/ThingTemplate.h
  GeneralsMD/Code/GameEngine/Include/GameClient/GameClient.h
  GeneralsMD/Code/GameEngine/Include/GameLogic/GameLogic.h
  GeneralsMD/Code/GameEngine/Include/GameLogic/ObjectTypes.h
Labels: Performance, Build, Generals, ZeroHour

#644 [GEN][ZH] Refactor GameLogic::rebalanceChildSleepyUpdate to avoid "vector subscript out of range" debug error
  Generals/Code/GameEngine/Source/GameLogic/System/GameLogic.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/System/GameLogic.cpp
Labels: Minor, ZeroHour, Refactor, Fix

#652 [ZH] Remove obsolete IndexBufferExceptionFunc try-catch blocks for Windows 2000
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/BaseHeightMap.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/HeightMap.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/Shadow/W3DProjectedShadow.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/Shadow/W3DVolumetricShadow.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DBibBuffer.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DBridgeBuffer.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DCustomEdging.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DDebugIcons.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DRoadBuffer.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DTreeBuffer.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/Water/W3DWater.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/dx8indexbuffer.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/dx8indexbuffer.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/dx8wrapper.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/line3d.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/linegrp.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/mesh.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/render2d.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/seglinerenderer.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/sortingrenderer.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/streakRender.cpp
Labels: Minor, ZeroHour, Refactor, Unify

#636 [GEN][ZH] Delete obsolete code in WW3D2, W3DView
  Generals/Code/Libraries/Source/WWVegas/WW3D2/assetmgr.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/assetmgr.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/bw_render.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/bw_render.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/sr_util.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/sr_util.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/texturefile.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/texturefile.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/txt2d.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/txt2d.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/ww3d.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/assetmgr.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/assetmgr.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/bw_render.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/bw_render.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/sr_util.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/sr_util.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/texturefile.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/texturefile.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/txt2d.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/txt2d.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/ww3d.cpp
  GeneralsMD/Code/Tools/W3DView/Utils.cpp
Labels: Minor, Generals, ZeroHour, Refactor

#615 [GEN][ZH] Fix incorrect string copy with overlapping memory regions in AsciiString, UnicodeString, strtrim
  Generals/Code/GameEngine/Source/Common/System/AsciiString.cpp
  Generals/Code/GameEngine/Source/Common/System/UnicodeString.cpp
  Generals/Code/Libraries/Source/WWVegas/WWLib/trim.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/AsciiString.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/UnicodeString.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WWLib/trim.cpp
Labels: Minor, Generals, ZeroHour, Fix, Stability

#655 [GEN][ZH] Remove duplicate strtrim implementations
  Generals/Code/Main/WinMain.cpp
  Generals/Code/Tools/MapCacheBuilder/Source/WinMain.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/CMakeLists.txt
  GeneralsMD/Code/Libraries/Source/WWVegas/WWLib/CMakeLists.txt
  GeneralsMD/Code/Main/WinMain.cpp
  GeneralsMD/Code/Tools/MapCacheBuilder/Source/WinMain.cpp
  GeneralsMD/Code/Tools/buildVersionUpdate/CMakeLists.txt
  GeneralsMD/Code/Tools/buildVersionUpdate/buildVersionUpdate.cpp
  GeneralsMD/Code/Tools/textureCompress/CMakeLists.txt
  GeneralsMD/Code/Tools/textureCompress/textureCompress.cpp
  GeneralsMD/Code/Tools/versionUpdate/CMakeLists.txt
  GeneralsMD/Code/Tools/versionUpdate/versionUpdate.cpp
Labels: Minor, Generals, ZeroHour, Tools, Stability

#647 [GITHUB] Add PR title and commit message validation workflow
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/workflows/ci.yml
  .github/workflows/valid-tags.txt
  .github/workflows/validate-pull-request.yml
Labels: Minor

#658 [GEN][ZH] Decouple Compress from CRCDiff
  Generals/Code/Tools/Compress/CMakeLists.txt
  Generals/Code/Tools/Compress/Compress.cpp
  GeneralsMD/Code/Tools/Compress/CMakeLists.txt
  GeneralsMD/Code/Tools/Compress/Compress.cpp
Labels: Minor, Generals, ZeroHour, Refactor

#659 [GEN] Backport WW3D2's ringobj, sphereobj, assetstatus from Zero Hour
  Generals/Code/Libraries/Source/WWVegas/WW3D2/CMakeLists.txt
  Generals/Code/Libraries/Source/WWVegas/WW3D2/assetmgr.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/assetstatus.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/assetstatus.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/ringobj.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/ringobj.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/sphereobj.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/sphereobj.h
Labels: Minor, Generals, Unify

#603 [GEN][ZH] Fix compile errors with ALLOW_TEMPORARIES in WWMath
  Generals/Code/Libraries/Source/WWVegas/WWMath/CMakeLists.txt
  Generals/Code/Libraries/Source/WWVegas/WWMath/matrix3d.cpp
  Generals/Code/Libraries/Source/WWVegas/WWMath/matrix3d.h
  Generals/Code/Libraries/Source/WWVegas/WWMath/vector3.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WWMath/CMakeLists.txt
  GeneralsMD/Code/Libraries/Source/WWVegas/WWMath/matrix3d.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WWMath/matrix3d.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WWMath/vector3.h
Labels: Minor, Build, Generals, ZeroHour, Fix

#662 [GEN] Backport WW3D2's StaticSortListClass from Zero Hour
  Generals/Code/Libraries/Source/WWVegas/WW3D2/CMakeLists.txt
  Generals/Code/Libraries/Source/WWVegas/WW3D2/static_sort_list.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/static_sort_list.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/ww3d.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/ww3d.h
Labels: Minor, Generals, Refactor, Unify

#664 [GEN][ZH] Remove superfluous code of W3DGranny, QuickTrig, WSYS_String, DoCompressTest
  Generals/Code/GameEngine/CMakeLists.txt
  Generals/Code/GameEngine/Include/Common/QuickTrig.h
  Generals/Code/GameEngine/Include/Common/string.h
  Generals/Code/GameEngine/Include/GameClient/DrawableManager.h
  Generals/Code/GameEngine/Source/Common/System/Compression.cpp
  Generals/Code/GameEngine/Source/Common/System/QuickTrig.cpp
  Generals/Code/GameEngine/Source/Common/System/String.cpp
  Generals/Code/GameEngine/Source/GameClient/Drawable/DrawableManager.cpp
  Generals/Code/GameEngine/Source/GameClient/DrawableManager.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/Update/TensileFormationUpdate.cpp
  Generals/Code/GameEngineDevice/CMakeLists.txt
  Generals/Code/GameEngineDevice/Include/W3DDevice/GameClient/W3DGranny.h
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Shadow/W3DProjectedShadow.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Shadow/W3DShadow.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Shadow/W3DVolumetricShadow.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DAssetManager.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DGranny.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DParticleSys.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DScene.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DTerrainVisual.cpp
  GeneralsMD/Code/GameEngine/CMakeLists.txt
  GeneralsMD/Code/GameEngine/Include/Common/QuickTrig.h
  GeneralsMD/Code/GameEngine/Include/Common/string.h
  GeneralsMD/Code/GameEngine/Include/GameClient/DrawableManager.h
  GeneralsMD/Code/GameEngine/Source/Common/System/Compression.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/QuickTrig.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/String.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/Drawable/DrawableManager.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/DrawableManager.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Update/TensileFormationUpdate.cpp
  GeneralsMD/Code/GameEngineDevice/CMakeLists.txt
  GeneralsMD/Code/GameEngineDevice/Include/W3DDevice/GameClient/W3DGranny.h
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/Drawable/Draw/W3DModelDraw.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/Shadow/W3DProjectedShadow.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/Shadow/W3DShadow.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/Shadow/W3DVolumetricShadow.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DAssetManager.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DGranny.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DParticleSys.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DScene.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DTerrainVisual.cpp
Labels: Minor, Generals, ZeroHour, Refactor

#666 [CMAKE] Split cmake options for build and memory into separate files
  cmake/config-build.cmake
  cmake/config-memory.cmake
  cmake/config.cmake
Labels: Minor, Build, Refactor

#668 [GEN] Backport changes of mempool, rawfile, trim, widestring, wwstring from Zero Hour
  Generals/Code/Libraries/Source/WWVegas/WWLib/RAWFILE.H
  Generals/Code/Libraries/Source/WWVegas/WWLib/mempool.h
  Generals/Code/Libraries/Source/WWVegas/WWLib/rawfile.cpp
  Generals/Code/Libraries/Source/WWVegas/WWLib/trim.cpp
  Generals/Code/Libraries/Source/WWVegas/WWLib/widestring.cpp
  Generals/Code/Libraries/Source/WWVegas/WWLib/widestring.h
  Generals/Code/Libraries/Source/WWVegas/WWLib/wwstring.cpp
  Generals/Code/Libraries/Source/WWVegas/WWLib/wwstring.h
Labels: Minor, Generals, Unify

#672 [GEN][ZH] Fix COM related compile errors for MinGW
  Core/Libraries/Source/EABrowserDispatch/BrowserDispatch.idl
  Core/Libraries/Source/EABrowserEngine/BrowserEngine.idl
  Dependencies/Utility/Utility/CppMacros.h
  Generals/Code/GameEngine/Include/GameNetwork/WOLBrowser/WebBrowser.h
  Generals/Code/GameEngine/Source/Common/GameEngine.cpp
  Generals/Code/GameEngine/Source/GameNetwork/WOLBrowser/WebBrowser.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DWebBrowser.cpp
  GeneralsMD/Code/GameEngine/Include/GameNetwork/WOLBrowser/WebBrowser.h
  GeneralsMD/Code/GameEngine/Source/Common/GameEngine.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/WOLBrowser/WebBrowser.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DWebBrowser.cpp
Labels: Minor, Build

#674 [CORE] Fix Compress tool build error
  Core/CMakeLists.txt
  Core/Tools/Compress/CMakeLists.txt
Labels: Minor, Build

#671 Fix intrin_compat.h to work for MinGW
  Dependencies/Utility/Utility/intrin_compat.h
Labels: Minor, Build

#678 [CMAKE] Add missing source files to WWVegas CMakeLists, remove duplicate pot source files
  Generals/Code/Libraries/Source/WWVegas/WW3D2/CMakeLists.txt
  Generals/Code/Libraries/Source/WWVegas/WWLib/CMakeLists.txt
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/CMakeLists.txt
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/pot.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/pot.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WWLib/CMakeLists.txt
  GeneralsMD/Code/Libraries/Source/WWVegas/WWMath/CMakeLists.txt
Labels: Minor, Refactor

#676 [ZH] Use hash maps for Object and Drawable lookups in GameClient, GameLogic like Generals does
  GeneralsMD/Code/GameEngine/Include/GameClient/GameClient.h
  GeneralsMD/Code/GameEngine/Include/GameLogic/GameLogic.h
  GeneralsMD/Code/GameEngine/Source/GameClient/GameClient.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/System/GameLogic.cpp
Labels: Major, ZeroHour, Memory, Fix, Unify

#680 [GEN] Backport WWDebug changes to wwdebug, wwmemlog, wwprofile from Zero Hour
  Generals/Code/Libraries/Source/WWVegas/WWDebug/wwdebug.cpp
  Generals/Code/Libraries/Source/WWVegas/WWDebug/wwdebug.h
  Generals/Code/Libraries/Source/WWVegas/WWDebug/wwmemlog.cpp
  Generals/Code/Libraries/Source/WWVegas/WWDebug/wwmemlog.h
  Generals/Code/Libraries/Source/WWVegas/WWDebug/wwprofile.cpp
  Generals/Code/Libraries/Source/WWVegas/WWDebug/wwprofile.h
  Generals/Code/Libraries/Source/WWVegas/WWLib/CMakeLists.txt
  Generals/Code/Libraries/Source/WWVegas/WWLib/FastAllocator.cpp
  Generals/Code/Libraries/Source/WWVegas/WWLib/FastAllocator.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WWDebug/wwdebug.h
Labels: Minor, Generals, Unify

#686 [GEN] Store StealthUpdate pointer in the Object class to avoid module lookups
  Generals/Code/GameEngine/Include/GameLogic/Module/BehaviorModule.h
  Generals/Code/GameEngine/Include/GameLogic/Module/StealthUpdate.h
  Generals/Code/GameEngine/Include/GameLogic/Object.h
  Generals/Code/GameEngine/Source/Common/RTS/Player.cpp
  Generals/Code/GameEngine/Source/Common/System/Radar.cpp
  Generals/Code/GameEngine/Source/GameClient/Drawable.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/ControlBar/ControlBar.cpp
  Generals/Code/GameEngine/Source/GameClient/InGameUI.cpp
  Generals/Code/GameEngine/Source/GameLogic/AI/AIGroup.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/Contain/MobNexusContain.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/Contain/OpenContain.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/Object.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/PartitionManager.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/Update/SpecialAbilityUpdate.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/Update/StealthDetectorUpdate.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/Update/StealthUpdate.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/WeaponSet.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/Common/System/W3DRadar.cpp
Labels: Minor, Generals, Refactor, Unify

#544 [ZH] Improve CRC Logging Debug Functionality
  GeneralsMD/Code/GameEngine/Include/Common/CRCDebug.h
  GeneralsMD/Code/GameEngine/Include/Common/Xfer.h
  GeneralsMD/Code/GameEngine/Source/Common/CRCDebug.cpp
  GeneralsMD/Code/GameEngine/Source/Common/CommandLine.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/Debug.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Object.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/System/GameLogic.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/Network.cpp
  cmake/config-debug.cmake
Labels: Major, ZeroHour, Debug

#689 [ZH] Remove WW3D2 dependency from WWAudio
  GeneralsMD/Code/Libraries/Source/WWVegas/WWAudio/AudibleSound.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WWAudio/AudibleSound.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WWAudio/LogicalSound.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WWAudio/Sound3D.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WWAudio/Sound3D.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WWAudio/SoundPseudo3D.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WWAudio/SoundPseudo3D.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WWAudio/SoundScene.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WWAudio/SoundScene.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WWAudio/SoundSceneObj.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WWAudio/WWAudio.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WWAudio/WWAudio.h
  GeneralsMD/Code/Tools/W3DView/GraphicView.cpp
Labels: Minor, ZeroHour, Refactor

#695 [GEN] Improve CRC Logging Debug Functionality
  Generals/Code/GameEngine/Include/Common/CRCDebug.h
  Generals/Code/GameEngine/Include/Common/Xfer.h
  Generals/Code/GameEngine/Source/Common/CRCDebug.cpp
  Generals/Code/GameEngine/Source/Common/CommandLine.cpp
  Generals/Code/GameEngine/Source/Common/System/Debug.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/Object.cpp
  Generals/Code/GameEngine/Source/GameLogic/System/GameLogic.cpp
  Generals/Code/GameEngine/Source/GameNetwork/Network.cpp
Labels: Major, Generals, Debug

#692 [GEN] Backport various crash and memory fixes from Zero Hour
  Generals/Code/GameEngine/Include/Common/Science.h
  Generals/Code/GameEngine/Include/Common/SparseMatchFinder.h
  Generals/Code/GameEngine/Include/GameLogic/RankInfo.h
  Generals/Code/GameEngine/Source/Common/GlobalData.cpp
  Generals/Code/GameEngine/Source/Common/MiniLog.cpp
  Generals/Code/GameEngine/Source/Common/RTS/Science.cpp
  Generals/Code/GameEngine/Source/Common/System/Debug.cpp
  Generals/Code/GameEngine/Source/Common/System/Xfer.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/ControlBar/ControlBar.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/ControlBar/ControlBarCommand.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/ControlBar/ControlBarCommandProcessing.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/ControlBar/ControlBarMultiSelect.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/SkirmishGameOptionsMenu.cpp
  Generals/Code/GameEngine/Source/GameClient/Input/Mouse.cpp
  Generals/Code/GameEngine/Source/GameLogic/Map/TerrainLogic.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/Update/AIUpdate/DozerAIUpdate.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/Update/AIUpdate/WorkerAIUpdate.cpp
  Generals/Code/GameEngine/Source/GameLogic/System/RankInfo.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Drawable/Draw/W3DTruckDraw.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DBibBuffer.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DBridgeBuffer.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3dWaypointBuffer.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Water/W3DWater.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/ControlBar/ControlBarCommand.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/GameSpy/Thread/BuddyThread.cpp
Labels: Bug, Major, Generals, Fix, Unify

#710 [GEN] Backport WW3D2's TextureClass dimension functions from Zero Hour
  Generals/Code/Libraries/Source/WWVegas/WW3D2/bmp2d.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/decalsys.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/part_ldr.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/texproject.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/texture.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/texture.h
Labels: Minor, Generals, Refactor, Unify

#711 [GEN] Backport BlurTime functionality in WW3D2's ParticleBufferClass
  Generals/Code/Libraries/Source/WWVegas/WW3D2/part_buf.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/part_buf.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/part_emt.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/part_emt.h
Labels: Minor, Generals, Unify

#708 [GEN][ZH] Remove unused granny related code
  Generals/Code/GameEngineDevice/Include/W3DDevice/GameClient/W3DAssetManager.h
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Shadow/W3DVolumetricShadow.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DAssetManager.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DScene.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DTerrainVisual.cpp
  GeneralsMD/Code/GameEngineDevice/Include/W3DDevice/GameClient/W3DAssetManager.h
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/Shadow/W3DVolumetricShadow.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DAssetManager.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DScene.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DTerrainVisual.cpp
Labels: Minor, Generals, ZeroHour, Refactor

#717 [GITHUB] Fix core tools compilation on GitHub CI
  .github/workflows/build-toolchain.yml
  Core/CMakeLists.txt
Labels: Major, Build

#707 [CORE] Move buildversionUpdate, textureCompress, timingTest, versionUpdate tools to Core
  Core/Tools/CMakeLists.txt
  Core/Tools/buildVersionUpdate/CMakeLists.txt
  Core/Tools/buildVersionUpdate/buildVersionUpdate.cpp
  Core/Tools/textureCompress/CMakeLists.txt
  Core/Tools/textureCompress/resource.h
  Core/Tools/textureCompress/textureCompress.cpp
  Core/Tools/textureCompress/textureCompress.rc
  Core/Tools/timingTest/CMakeLists.txt
  Core/Tools/timingTest/StdAfx.cpp
  Core/Tools/timingTest/StdAfx.h
  Core/Tools/timingTest/timingTest.cpp
  Core/Tools/versionUpdate/CMakeLists.txt
  Core/Tools/versionUpdate/versionUpdate.cpp
  Generals/Code/Tools/CMakeLists.txt
  Generals/Code/Tools/buildVersionUpdate/CMakeLists.txt
  Generals/Code/Tools/buildVersionUpdate/buildVersionUpdate.cpp
  Generals/Code/Tools/textureCompress/CMakeLists.txt
  Generals/Code/Tools/textureCompress/resource.h
  Generals/Code/Tools/textureCompress/textureCompress.cpp
  Generals/Code/Tools/timingTest/CMakeLists.txt
  Generals/Code/Tools/timingTest/StdAfx.cpp
  Generals/Code/Tools/timingTest/StdAfx.h
  Generals/Code/Tools/timingTest/timingTest.cpp
  Generals/Code/Tools/versionUpdate/CMakeLists.txt
  Generals/Code/Tools/versionUpdate/versionUpdate.cpp
  GeneralsMD/Code/Tools/CMakeLists.txt
  GeneralsMD/Code/Tools/buildVersionUpdate/CMakeLists.txt
  GeneralsMD/Code/Tools/textureCompress/CMakeLists.txt
  GeneralsMD/Code/Tools/textureCompress/textureCompress.rc
  GeneralsMD/Code/Tools/timingTest/CMakeLists.txt
  GeneralsMD/Code/Tools/versionUpdate/CMakeLists.txt
Labels: Minor, Tools, Unify

#722 [GEN] Add future_start argument to constructor of WW3D2's ParticleEmitterClass for W3DView compatibility
  Generals/Code/Libraries/Source/WWVegas/WW3D2/part_emt.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/part_emt.h
Labels: Minor, Build, Generals, Unify

#723 [GEN] Backport loading DDS file if TGA file of the same name was not found
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8wrapper.cpp
Labels: Enhancement, Minor, Generals, Unify

#724 [GEN] Backport cube map, volume texture and hsv shift support for DDSFileClass from Zero Hour
  Generals/Code/Libraries/Source/WWVegas/WW3D2/ddsfile.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/ddsfile.h
Labels: Enhancement, Minor, Generals, Unify

#727 [ZH] Remove unused code in ThumbnailManagerClass
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/texturethumbnail.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/texturethumbnail.h
Labels: Minor, ZeroHour, Refactor, Unify

#726 [GEN] Bring texture related code in WW3D2 closer to Zero Hour
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/TerrainTex.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DDisplay.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/assetmgr.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/assetmgr.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/ddsfile.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8wrapper.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8wrapper.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/part_emt.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/surfaceclass.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/texture.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/texture.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/textureloader.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/ww3d.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/ww3d.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/ww3dformat.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/ww3dformat.h
  Generals/Code/Tools/WorldBuilder/src/wbview3d.cpp
Labels: Minor, Generals, Refactor, Unify

#735 Revert "[ZH] Use hash maps for Object and Drawable lookups in GameClient, GameLogic like Generals does (#676)"
  GeneralsMD/Code/GameEngine/Include/GameClient/GameClient.h
  GeneralsMD/Code/GameEngine/Include/GameLogic/GameLogic.h
  GeneralsMD/Code/GameEngine/Source/GameClient/GameClient.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/System/GameLogic.cpp
Labels: Bug, ThisProject

#747 [CORE] Move ImagePacker tool files to Core
  Core/Tools/CMakeLists.txt
  Core/Tools/ImagePacker/CMakeLists.txt
  Core/Tools/ImagePacker/Include/ImageDirectory.h
  Core/Tools/ImagePacker/Include/ImageInfo.h
  Core/Tools/ImagePacker/Include/ImagePacker.h
  Core/Tools/ImagePacker/Include/TexturePage.h
  Core/Tools/ImagePacker/Include/WinMain.h
  Core/Tools/ImagePacker/Include/WindowProc.h
  Core/Tools/ImagePacker/Resource/ImagePacker.rc
  Core/Tools/ImagePacker/Resource/Resource.h
  Core/Tools/ImagePacker/Source/ImageInfo.cpp
  Core/Tools/ImagePacker/Source/ImagePacker.cpp
  Core/Tools/ImagePacker/Source/TexturePage.cpp
  Core/Tools/ImagePacker/Source/WinMain.cpp
  Core/Tools/ImagePacker/Source/WindowProcedures/DirectorySelect.cpp
  Core/Tools/ImagePacker/Source/WindowProcedures/ImageErrorProc.cpp
  Core/Tools/ImagePacker/Source/WindowProcedures/ImagePackerProc.cpp
  Core/Tools/ImagePacker/Source/WindowProcedures/PageErrorProc.cpp
  Core/Tools/ImagePacker/Source/WindowProcedures/PreviewProc.cpp
  Generals/Code/Tools/ImagePacker/CMakeLists.txt
  Generals/Code/Tools/ImagePacker/Include/ImageDirectory.h
  Generals/Code/Tools/ImagePacker/Include/ImageInfo.h
  Generals/Code/Tools/ImagePacker/Include/ImagePacker.h
  Generals/Code/Tools/ImagePacker/Include/TexturePage.h
  Generals/Code/Tools/ImagePacker/Include/WinMain.h
  Generals/Code/Tools/ImagePacker/Include/WindowProc.h
  Generals/Code/Tools/ImagePacker/Resource/Resource.h
  Generals/Code/Tools/ImagePacker/Source/ImageInfo.cpp
  Generals/Code/Tools/ImagePacker/Source/ImagePacker.cpp
  Generals/Code/Tools/ImagePacker/Source/TexturePage.cpp
  Generals/Code/Tools/ImagePacker/Source/WinMain.cpp
  Generals/Code/Tools/ImagePacker/Source/Window Procedures/DirectorySelect.cpp
  Generals/Code/Tools/ImagePacker/Source/Window Procedures/ImageErrorProc.cpp
  Generals/Code/Tools/ImagePacker/Source/Window Procedures/ImagePackerProc.cpp
  Generals/Code/Tools/ImagePacker/Source/Window Procedures/PageErrorProc.cpp
  Generals/Code/Tools/ImagePacker/Source/Window Procedures/PreviewProc.cpp
  GeneralsMD/Code/Tools/ImagePacker/CMakeLists.txt
  GeneralsMD/Code/Tools/ImagePacker/Resource/ImagePacker.rc
Labels: Tools, Unify

#749 [CORE] Move MapCacheBuilder tool files to Core
  Core/Tools/CMakeLists.txt
  Core/Tools/MapCacheBuilder/CMakeLists.txt
  Core/Tools/MapCacheBuilder/Include/WinMain.h
  Core/Tools/MapCacheBuilder/Resource/MapCacheBuilder.rc
  Core/Tools/MapCacheBuilder/Resource/Resource.h
  Core/Tools/MapCacheBuilder/Source/WinMain.cpp
  Generals/Code/Tools/MapCacheBuilder/CMakeLists.txt
  Generals/Code/Tools/MapCacheBuilder/Include/WinMain.h
  Generals/Code/Tools/MapCacheBuilder/Resource/Resource.h
  Generals/Code/Tools/MapCacheBuilder/Source/WinMain.cpp
  GeneralsMD/Code/Tools/MapCacheBuilder/CMakeLists.txt
  GeneralsMD/Code/Tools/MapCacheBuilder/Resource/MapCacheBuilder.rc
Labels: Tools, Unify

#753 [CMAKE] Move all RTS cmake options into early config-build.cmake to prevent cmake error on first generation
  Core/CMakeLists.txt
  Generals/CMakeLists.txt
  GeneralsMD/CMakeLists.txt
  cmake/config-build.cmake
Labels: Bug, Minor, Build

#751 [GEN] Backport OCL first object returns from Zero Hour
  Generals/Code/GameEngine/Include/GameLogic/ObjectCreationList.h
  Generals/Code/GameEngine/Source/GameLogic/Object/ObjectCreationList.cpp
Labels: Generals, Unify

#757 [GEN] Backport more of WW3D2 from Zero Hour
  Generals/Code/Libraries/Source/WWVegas/WW3D2/assetmgr.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8caps.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8caps.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8list.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8texman.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8texman.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8wrapper.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8wrapper.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dynamesh.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/matpass.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/seglinerenderer.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/seglinerenderer.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/shattersystem.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/sortingrenderer.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/static_sort_list.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/streakRender.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/streakRender.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/texture.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/texture.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/ww3d.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/ww3d.h
Labels: Minor, Generals, Unify

#657 [GEN][ZH] Reset DrawableID on map load to avoid massive id growth over the lifetime of the game
  Generals/Code/GameEngine/Source/GameClient/GameClient.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GameClient.cpp
Labels: Bug, Minor, Generals, ZeroHour, Fix

#767 [GEN][ZH] Fix incorrectly initialized bool GhostObject::m_parentGeometryIsSmall
  Generals/Code/GameEngine/Source/GameLogic/Object/GhostObject.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/GhostObject.cpp
Labels: Bug, Minor, Fix

#769 [CMAKE] Remove vcpkg toolchain from default windows cmake presets and add new cmake presets with vcpkg toolchain
  .github/workflows/build-toolchain.yml
  .github/workflows/ci.yml
  CMakePresets.json
Labels: Minor, Build

#730 [GEN][ZH] Fix drawable assignment in StealthUpdate::changeVisualDisguise()
  Generals/Code/GameEngine/Source/GameLogic/Object/Update/StealthUpdate.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Update/StealthUpdate.cpp
Labels: Minor, Generals, ZeroHour, Memory, Fix, Stability

#731 [GEN][ZH] Fix uninitialized memory read in DockUpdate::loadDockPositions
  Generals/Code/GameEngine/Source/GameLogic/Object/Update/DockUpdate/DockUpdate.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Update/DockUpdate/DockUpdate.cpp
Labels: Bug, Minor, Generals, ZeroHour, Memory, Stability

#632 [GEN][ZH] Fix uninitialized variables in AiPathFind::findGroundPath, AiPathFind::classifyFence
  Generals/Code/GameEngine/Source/GameLogic/AI/AIPathfind.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/AI/AIPathfind.cpp
Labels: Bug, Major, Generals, ZeroHour, Stability

#768 [CMAKE] Fix feature infos of debug options
  cmake/config-debug.cmake
Labels: Minor, Build

#744 [GEN] Backport command line arguments from Zero Hour
  Generals/Code/GameEngine/Include/Common/CommandLine.h
  Generals/Code/GameEngine/Include/Common/GlobalData.h
  Generals/Code/GameEngine/Source/Common/CommandLine.cpp
  Generals/Code/GameEngine/Source/Common/GlobalData.cpp
  Generals/Code/GameEngine/Source/GameClient/GameClient.cpp
  Generals/Code/GameEngine/Source/GameLogic/AI/AIStates.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/Weapon.cpp
Labels: Minor, Generals, Unify

#777 [GEN] Backport WaterTransparencySetting additions from Zero Hour
  Generals/Code/GameEngine/Include/GameClient/Water.h
  Generals/Code/GameEngine/Source/GameClient/Water.cpp
  Generals/Code/GameEngineDevice/Include/W3DDevice/Common/W3DRadar.h
  Generals/Code/GameEngineDevice/Include/W3DDevice/GameClient/W3DWater.h
  Generals/Code/GameEngineDevice/Source/W3DDevice/Common/System/W3DRadar.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Water/W3DWater.cpp
Labels: Minor, Generals, Refactor, Fix, Unify

#778 [GEN][ZH] Fix DEBUG_CRC compile errors
  Generals/Code/GameEngine/Include/GameLogic/Object.h
  Generals/Code/GameEngine/Source/GameLogic/AI/AIPathfind.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/Object.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/Update/AIUpdate.cpp
  GeneralsMD/Code/GameEngine/Include/GameLogic/Object.h
  GeneralsMD/Code/GameEngine/Source/GameLogic/AI/AIPathfind.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Object.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Update/AIUpdate.cpp
Labels: Minor, Build, Debug

#745 [CORE] Unify remaining WWMath
  Core/Libraries/Source/WWVegas/CMakeLists.txt
  Core/Libraries/Source/WWVegas/WWMath/CMakeLists.txt
  Core/Libraries/Source/WWVegas/WWMath/cardinalspline.cpp
  Core/Libraries/Source/WWVegas/WWMath/colmathaabox.cpp
  Core/Libraries/Source/WWVegas/WWMath/colmathaabtri.cpp
  Core/Libraries/Source/WWVegas/WWMath/colmathobbobb.cpp
  Core/Libraries/Source/WWVegas/WWMath/colmathobbtri.cpp
  Generals/Code/Libraries/Source/WWVegas/CMakeLists.txt
  Generals/Code/Libraries/Source/WWVegas/WWMath/CMakeLists.txt
  Generals/Code/Libraries/Source/WWVegas/WWMath/cardinalspline.cpp
  Generals/Code/Libraries/Source/WWVegas/WWMath/colmathaabox.cpp
  Generals/Code/Libraries/Source/WWVegas/WWMath/colmathaabtri.cpp
  Generals/Code/Libraries/Source/WWVegas/WWMath/colmathobbobb.cpp
  Generals/Code/Libraries/Source/WWVegas/WWMath/colmathobbtri.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/CMakeLists.txt
  GeneralsMD/Code/Libraries/Source/WWVegas/WWMath/CMakeLists.txt
Labels: Unify

#785 Unify code of WWDownload library and move its files to Core
  Core/Libraries/Source/WWVegas/CMakeLists.txt
  Core/Libraries/Source/WWVegas/WWDownload/CMakeLists.txt
  Core/Libraries/Source/WWVegas/WWDownload/Download.cpp
  Core/Libraries/Source/WWVegas/WWDownload/Download.h
  Core/Libraries/Source/WWVegas/WWDownload/DownloadDebug.h
  Core/Libraries/Source/WWVegas/WWDownload/FTP.CPP
  Core/Libraries/Source/WWVegas/WWDownload/Registry.h
  Core/Libraries/Source/WWVegas/WWDownload/downloaddefs.h
  Core/Libraries/Source/WWVegas/WWDownload/ftp.h
  Core/Libraries/Source/WWVegas/WWDownload/ftpdefs.h
  Core/Libraries/Source/WWVegas/WWDownload/registry.cpp
  Core/Libraries/Source/WWVegas/WWDownload/urlBuilder.cpp
  Core/Libraries/Source/WWVegas/WWDownload/urlBuilder.h
  Generals/Code/Libraries/Source/WWVegas/WWDownload/CMakeLists.txt
  Generals/Code/Libraries/Source/WWVegas/WWDownload/Download.cpp
  Generals/Code/Libraries/Source/WWVegas/WWDownload/Download.h
  Generals/Code/Libraries/Source/WWVegas/WWDownload/DownloadDebug.h
  Generals/Code/Libraries/Source/WWVegas/WWDownload/FTP.CPP
  Generals/Code/Libraries/Source/WWVegas/WWDownload/Registry.h
  Generals/Code/Libraries/Source/WWVegas/WWDownload/downloaddefs.h
  Generals/Code/Libraries/Source/WWVegas/WWDownload/ftp.h
  Generals/Code/Libraries/Source/WWVegas/WWDownload/ftpdefs.h
  Generals/Code/Libraries/Source/WWVegas/WWDownload/registry.cpp
  Generals/Code/Libraries/Source/WWVegas/WWDownload/urlBuilder.cpp
  Generals/Code/Libraries/Source/WWVegas/WWDownload/urlBuilder.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WWDownload/CMakeLists.txt
Labels: Refactor, Unify

#786 [GEN][ZH] Remove the unused Wwutil library
  Core/Libraries/Source/WWVegas/CMakeLists.txt
  Generals/Code/Libraries/Source/WWVegas/CMakeLists.txt
  Generals/Code/Libraries/Source/WWVegas/Wwutil/CMakeLists.txt
  Generals/Code/Libraries/Source/WWVegas/Wwutil/mathutil.cpp
  Generals/Code/Libraries/Source/WWVegas/Wwutil/mathutil.h
  Generals/Code/Libraries/Source/WWVegas/Wwutil/miscutil.cpp
  Generals/Code/Libraries/Source/WWVegas/Wwutil/miscutil.h
  GeneralsMD/Code/Libraries/Source/WWVegas/CMakeLists.txt
  GeneralsMD/Code/Libraries/Source/WWVegas/Wwutil/CMakeLists.txt
  GeneralsMD/Code/Libraries/Source/WWVegas/Wwutil/mathutil.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/Wwutil/mathutil.h
  GeneralsMD/Code/Libraries/Source/WWVegas/Wwutil/miscutil.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/Wwutil/miscutil.h
Labels: Refactor

#776 [GEN] Bring ShaderClass::Apply more in line with Zero Hour
  Generals/Code/Libraries/Source/WWVegas/WW3D2/shader.cpp
Labels: Generals, Refactor, Unify
