Repository TheSuperHackers/GeneralsGameCode, pull requests merged in 2025-07, with the labels that each got.

#1212 [GEN][ZH] Prevent game crash when a player is selected in Replay playback
  Generals/Code/GameEngine/Source/GameLogic/System/GameLogicDispatch.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/System/GameLogicDispatch.cpp
Labels: Bug, Critical, Gen, ZH, Crash

#1214 [GEN][ZH] Fix AIGroup memory management and leaks
  Core/GameEngine/Include/Common/GameDefines.h
  Generals/Code/GameEngine/Include/Common/Player.h
  Generals/Code/GameEngine/Include/GameLogic/AI.h
  Generals/Code/GameEngine/Include/GameLogic/Object.h
  Generals/Code/GameEngine/Source/GameLogic/AI/AI.cpp
  Generals/Code/GameEngine/Source/GameLogic/AI/AIGroup.cpp
  Generals/Code/GameEngine/Source/GameLogic/AI/AIPlayer.cpp
  Generals/Code/GameEngine/Source/GameLogic/AI/AIStates.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/Object.cpp
  Generals/Code/GameEngine/Source/GameLogic/ScriptEngine/ScriptActions.cpp
  Generals/Code/GameEngine/Source/GameLogic/ScriptEngine/ScriptEngine.cpp
  Generals/Code/GameEngine/Source/GameLogic/System/GameLogic.cpp
  Generals/Code/GameEngine/Source/GameLogic/System/GameLogicDispatch.cpp
  GeneralsMD/Code/GameEngine/Include/Common/Player.h
  GeneralsMD/Code/GameEngine/Include/GameLogic/AI.h
  GeneralsMD/Code/GameEngine/Include/GameLogic/Object.h
  GeneralsMD/Code/GameEngine/Source/GameLogic/AI/AI.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/AI/AIGroup.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/AI/AIPlayer.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/AI/AIStates.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Object.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/ScriptEngine/ScriptActions.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/ScriptEngine/ScriptEngine.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/System/GameLogic.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/System/GameLogicDispatch.cpp
Labels: Bug, Critical, Performance, Gen, ZH, Crash, NoRetail

#1031 [GEN][ZH] Refactor implemention for Shell recreation on Display Resolution change
  Generals/Code/GameEngine/Include/GameClient/Shell.h
  Generals/Code/GameEngine/Include/GameClient/WindowLayout.h
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/MainMenu.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/OptionsMenu.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/Shell/Shell.cpp
  GeneralsMD/Code/GameEngine/Include/GameClient/Shell.h
  GeneralsMD/Code/GameEngine/Include/GameClient/WindowLayout.h
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/MainMenu.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/OptionsMenu.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/Shell/Shell.cpp
Labels: GUI, Minor, Gen, ZH, Refactor

#1169 [CMAKE] Enable multithreaded compilation for VC6 builds
  .github/workflows/build-toolchain.yml
  CMakePresets.json
  cmake/compilers.cmake
Labels: Major, Performance, Build

#548 Add CONTRIBUTING document
  CONTRIBUTING.md
Labels: Documentation

#1222 [GEN][ZH] Fix crash when using a Civilian Ferry that has no waypoint path
  Generals/Code/GameEngine/Source/GameLogic/Object/Update/AIUpdate/RailedTransportAIUpdate.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Update/AIUpdate/RailedTransportAIUpdate.cpp
Labels: Minor, Gen, ZH, Crash, Mod

#1223 [GEN][ZH] Fix new/delete mismatches in tools
  Core/Tools/W3DView/W3DView.cpp
  Generals/Code/Tools/WorldBuilder/src/WHeightMapEdit.cpp
  GeneralsMD/Code/Tools/WorldBuilder/src/WHeightMapEdit.cpp
Labels: Minor, Tools, Fix, Stability

#1122 [GEN][ZH] Prevent reading invalid data from 'nti', 'm_teams' in TeamsInfoRec::addTeam()
  Generals/Code/GameEngine/Source/GameLogic/Map/SidesList.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Map/SidesList.cpp
Labels: Minor, Refactor

#1185 [GEN][ZH] Fix beacon mouse cursor not showing while nothing is selected
  Generals/Code/GameEngine/Source/GameClient/MessageStream/CommandXlat.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/MessageStream/CommandXlat.cpp
Labels: Bug, GUI, Minor, Gen, ZH

#1035 [GEN][ZH] Fix heap-use-after-free in W3DRadar::drawHeroIcon()
  Core/GameEngine/CMakeLists.txt
  Core/GameEngine/Include/Common/STLUtils.h
  Generals/Code/GameEngine/Include/Common/GameEngine.h
  Generals/Code/GameEngine/Include/Common/Radar.h
  Generals/Code/GameEngine/Include/Common/STLTypedefs.h
  Generals/Code/GameEngine/Source/Common/GameEngine.cpp
  Generals/Code/GameEngine/Source/Common/System/Radar.cpp
  Generals/Code/GameEngineDevice/Include/W3DDevice/Common/W3DRadar.h
  Generals/Code/GameEngineDevice/Source/W3DDevice/Common/System/W3DRadar.cpp
  Generals/GameEngine/Include/Common/STLUtils.h
  GeneralsMD/Code/GameEngine/Include/Common/GameEngine.h
  GeneralsMD/Code/GameEngine/Include/Common/Radar.h
  GeneralsMD/Code/GameEngine/Include/Common/STLTypedefs.h
  GeneralsMD/Code/GameEngine/Source/Common/GameEngine.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/Radar.cpp
  GeneralsMD/Code/GameEngineDevice/Include/W3DDevice/Common/W3DRadar.h
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/Common/System/W3DRadar.cpp
Labels: Bug, Major, Gen, ZH, Stability

#1227 [GEN][ZH] Decouple tree, water and wave movements from client FPS
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Water/W3DWater.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Water/W3DWaterTracks.cpp
  GeneralsMD/Code/GameEngineDevice/Include/W3DDevice/GameClient/W3DTreeBuffer.h
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DTreeBuffer.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/Water/W3DWater.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/Water/W3DWaterTracks.cpp
Labels: Bug, Major, Gen, ZH

#1238 [ZH] Fix multiplayer mismatch in a new game after exiting the previous game while a player was power sabotaged
  GeneralsMD/Code/GameEngine/Include/Common/Energy.h
Labels: Bug, Major, ZH

#1216 [GEN][ZH] Fix object deselection logic in BuildAssistant::sellObject()
  Generals/Code/GameEngine/Source/Common/System/BuildAssistant.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/BuildAssistant.cpp
Labels: Minor, Gen, ZH, Fix, NoRetail

#1026 [GEN][ZH] Make viewport scroll speed frame rate independent
  Generals/Code/GameEngine/Include/GameClient/Display.h
  Generals/Code/GameEngine/Source/GameClient/MessageStream/LookAtXlat.cpp
  Generals/Code/GameEngineDevice/Include/W3DDevice/GameClient/W3DDisplay.h
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DDisplay.cpp
  Generals/Code/Tools/GUIEdit/Include/GUIEditDisplay.h
  GeneralsMD/Code/GameEngine/Include/GameClient/Display.h
  GeneralsMD/Code/GameEngine/Source/GameClient/MessageStream/LookAtXlat.cpp
  GeneralsMD/Code/GameEngineDevice/Include/W3DDevice/GameClient/W3DDisplay.h
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DDisplay.cpp
  GeneralsMD/Code/Tools/GUIEdit/Include/GUIEditDisplay.h
Labels: Bug, Major, Gen, ZH

#1234 [GEN][ZH] Fix ThingTemplate copying to prevent multiplayer mismatch with original Shell Map and custom Maps
  Generals/Code/GameEngine/Include/Common/SparseMatchFinder.h
  Generals/Code/GameEngine/Include/Common/ThingTemplate.h
  Generals/Code/GameEngine/Include/GameLogic/ArmorSet.h
  Generals/Code/GameEngine/Include/GameLogic/WeaponSet.h
  GeneralsMD/Code/GameEngine/Include/Common/SparseMatchFinder.h
  GeneralsMD/Code/GameEngine/Include/Common/ThingTemplate.h
  GeneralsMD/Code/GameEngine/Include/GameLogic/ArmorSet.h
  GeneralsMD/Code/GameEngine/Include/GameLogic/WeaponSet.h
Labels: Bug, Major, Gen, ZH, Stability

#1190 [GEN][ZH] Fix black terrain in World Builder without RTS_DEBUG
  Core/GameEngine/Include/Common/GameDefines.h
  Generals/Code/GameEngine/Include/Common/GameCommon.h
  Generals/Code/GameEngine/Include/Common/GlobalData.h
  Generals/Code/GameEngine/Include/Precompiled/PreRTS.h
  Generals/Code/GameEngine/Source/Common/CommandLine.cpp
  Generals/Code/GameEngine/Source/Common/GlobalData.cpp
  Generals/Code/GameEngine/Source/GameClient/GameClient.cpp
  Generals/Code/GameEngine/Source/GameClient/InGameUI.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/Common/System/W3DRadar.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DScene.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DView.cpp
  Generals/Code/Tools/WorldBuilder/src/WorldBuilder.cpp
  GeneralsMD/Code/GameEngine/Include/Common/GameCommon.h
  GeneralsMD/Code/GameEngine/Include/Common/GlobalData.h
  GeneralsMD/Code/GameEngine/Include/Precompiled/PreRTS.h
  GeneralsMD/Code/GameEngine/Source/Common/CommandLine.cpp
  GeneralsMD/Code/GameEngine/Source/Common/GlobalData.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GameClient.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/InGameUI.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/Common/System/W3DRadar.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/BaseHeightMap.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DScene.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DView.cpp
  GeneralsMD/Code/Tools/WorldBuilder/src/WorldBuilder.cpp
Labels: Major, WorldBuilder, Fix

#1191 [GEN][ZH] Show the System Maps tab in World Builder without RTS_DEBUG
  Generals/Code/Tools/WorldBuilder/src/OpenMap.cpp
  Generals/Code/Tools/WorldBuilder/src/SaveMap.cpp
  GeneralsMD/Code/Tools/WorldBuilder/src/OpenMap.cpp
  GeneralsMD/Code/Tools/WorldBuilder/src/SaveMap.cpp
Labels: Design, Minor, WorldBuilder

#854 [GEN][ZH] Enable Control Bar toggle for Replay playback and match observers
  Generals/Code/GameEngine/Source/GameClient/GUI/ControlBar/ControlBar.cpp
  Generals/Code/GameEngine/Source/GameClient/MessageStream/CommandXlat.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/ControlBar/ControlBar.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/MessageStream/CommandXlat.cpp
Labels: Enhancement, GUI, Major, Gen, ZH

#932 [GEN][ZH] Fix undefined behavior in ThingTemplate::isEquivalentTo
  Generals/Code/GameEngine/Include/GameLogic/PartitionManager.h
  Generals/Code/GameEngine/Source/Common/RTS/ScoreKeeper.cpp
  Generals/Code/GameEngine/Source/Common/System/BuildAssistant.cpp
  Generals/Code/GameEngine/Source/Common/Thing/ThingTemplate.cpp
  Generals/Code/GameEngine/Source/GameLogic/AI/AISkirmishPlayer.cpp
  Generals/Code/GameEngine/Source/GameLogic/System/GameLogicDispatch.cpp
  GeneralsMD/Code/GameEngine/Include/GameLogic/PartitionManager.h
  GeneralsMD/Code/GameEngine/Source/Common/RTS/Player.cpp
  GeneralsMD/Code/GameEngine/Source/Common/RTS/ScoreKeeper.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/BuildAssistant.cpp
  GeneralsMD/Code/GameEngine/Source/Common/Thing/ThingTemplate.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/AI/AISkirmishPlayer.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Contain/RiderChangeContain.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/System/GameLogicDispatch.cpp
Labels: Minor, Refactor

#1170 [GEN][ZH] Implement System Time and Game Time display
  Generals/Code/GameEngine/Include/Common/GlobalData.h
  Generals/Code/GameEngine/Include/Common/UserPreferences.h
  Generals/Code/GameEngine/Include/GameClient/InGameUI.h
  Generals/Code/GameEngine/Source/Common/GlobalData.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/OptionsMenu.cpp
  Generals/Code/GameEngine/Source/GameClient/InGameUI.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DInGameUI.cpp
  GeneralsMD/Code/GameEngine/Include/Common/GlobalData.h
  GeneralsMD/Code/GameEngine/Include/Common/UserPreferences.h
  GeneralsMD/Code/GameEngine/Include/GameClient/InGameUI.h
  GeneralsMD/Code/GameEngine/Source/Common/GlobalData.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/OptionsMenu.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/InGameUI.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DInGameUI.cpp
Labels: Enhancement, Minor, Gen, ZH

#1262 [GEN][ZH] Fix and remove Scroll Speed limits
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/OptionsMenu.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/OptionsMenu.cpp
Labels: Bug, GUI, Minor, Gen, ZH

#546 [GEN][ZH] Fix multiplayer mismatch on surrender in team games when owning a base structure that has been cleared of infantry before
  Generals/Code/GameEngine/Source/Common/RTS/Player.cpp
  GeneralsMD/Code/GameEngine/Source/Common/RTS/Player.cpp
Labels: Bug, Critical, Gen, ZH, Stability

#1273 [GEN][ZH] Fix use of invalidated iterator in ScriptEngine::reset()
  Generals/Code/GameEngine/Source/GameLogic/ScriptEngine/ScriptEngine.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/ScriptEngine/ScriptEngine.cpp
Labels: Minor, Gen, ZH, Fix, Stability

#1272 [CORE] Make game compile in VS2019
  Core/Libraries/Source/WWVegas/WW3D2/prim_anim.h
Labels: CompileBug

#1289 [GEN][ZH] Fix Null Memory Manager issues introduced by #1275
  Generals/Code/GameEngine/Source/Common/System/GameMemoryNull.cpp
  Generals/Code/Main/WinMain.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/GameMemoryNull.cpp
  GeneralsMD/Code/Main/WinMain.cpp
Labels: Blocker, ThisProject, Memory, Fix

#1259 [GEN][ZH] Reduce cost of GameMessage::getCommandTypeAsString by 70%
  Generals/Code/GameEngine/Include/Common/MessageStream.h
  Generals/Code/GameEngine/Include/GameNetwork/NetCommandMsg.h
  Generals/Code/GameEngine/Source/Common/MessageStream.cpp
  Generals/Code/GameEngine/Source/Common/Recorder.cpp
  Generals/Code/GameEngine/Source/GameClient/GameClientDispatch.cpp
  Generals/Code/GameEngine/Source/GameLogic/System/GameLogicDispatch.cpp
  Generals/Code/GameEngine/Source/GameNetwork/NetCommandMsg.cpp
  Generals/Code/GameEngine/Source/GameNetwork/Network.cpp
  GeneralsMD/Code/GameEngine/Include/Common/MessageStream.h
  GeneralsMD/Code/GameEngine/Include/GameNetwork/NetCommandMsg.h
  GeneralsMD/Code/GameEngine/Source/Common/MessageStream.cpp
  GeneralsMD/Code/GameEngine/Source/Common/Recorder.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GameClientDispatch.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/System/GameLogicDispatch.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/NetCommandMsg.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/Network.cpp
Labels: Minor, Performance, Gen, ZH, Debug

#1293 [GEN][ZH] Fix incorrect garrison points debug assert hit in Shell Map
  Generals/Code/GameEngine/Source/GameLogic/Object/Contain/GarrisonContain.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Contain/GarrisonContain.cpp
Labels: Gen, ZH, Debug, ThisProject, Fix

#1244 [GEN][ZH] Fix up the right mouse button scrolling to properly normalize its movement and correctly apply the Scroll Speed modifier
  Generals/Code/GameEngine/Source/GameClient/MessageStream/LookAtXlat.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/MessageStream/LookAtXlat.cpp
Labels: Bug, Major, Gen, ZH

#1267 [GEN][ZH] Fix Hero Radar icon garrison issues introduced by #1035
  Generals/Code/GameEngine/Include/Common/Radar.h
  Generals/Code/GameEngine/Source/Common/System/Radar.cpp
  Generals/Code/GameEngineDevice/Include/W3DDevice/Common/W3DRadar.h
  Generals/Code/GameEngineDevice/Source/W3DDevice/Common/System/W3DRadar.cpp
  GeneralsMD/Code/GameEngine/Include/Common/Radar.h
  GeneralsMD/Code/GameEngine/Source/Common/System/Radar.cpp
  GeneralsMD/Code/GameEngineDevice/Include/W3DDevice/Common/W3DRadar.h
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/Common/System/W3DRadar.cpp
Labels: Bug, GUI, Major, ThisProject

#1280 [GEN][ZH] Fix China Hackers unnecessarily packing and unpacking when ordered to hack while already hacking
  Generals/Code/GameEngine/Source/GameLogic/Object/Update/AIUpdate/HackInternetAIUpdate.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Update/AIUpdate/HackInternetAIUpdate.cpp
Labels: Bug, Minor, Gen, ZH, NoRetail

#1228 [CORE] Reduce cost of XferCRC::xferImplementation by 60%
  Core/GameEngine/Include/Common/XferCRC.h
  Core/GameEngine/Source/Common/System/XferCRC.cpp
Labels: Minor, Performance, Gen, ZH

#1305 [GEN] Backport fix to prevent building multi-selection from Zero Hour
  Generals/Code/GameEngine/Source/GameClient/MessageStream/SelectionXlat.cpp
  Generals/Code/GameEngine/Source/GameLogic/AI/AIStates.cpp
Labels: Bug, Major, Gen, Unify

#1306 [GEN][ZH] Fix Diplomacy Screen, Tooltips and Chat not working after surrender
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/QuitMenu.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/QuitMenu.cpp
Labels: Bug, GUI, Major, Gen, ZH

#864 [GEN][ZH] Enable Chat for Observers
  Generals/Code/GameEngine/Source/GameClient/MessageStream/CommandXlat.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/MessageStream/CommandXlat.cpp
Labels: Enhancement, Minor, Gen, ZH

#1302 [GEN][ZH] No longer adjust the power level for disabled Power Plants that are still under construction
  Generals/Code/GameEngine/Source/GameLogic/Object/Object.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Object.cpp
Labels: Bug, China, Major, USA, Gen, ZH, NoRetail

#1303 [CORE] Fix unsafe logic in FileSystem regarding closing and deleting files
  Core/GameEngine/Include/Common/LocalFile.h
  Core/GameEngine/Include/Common/RAMFile.h
  Core/GameEngine/Include/Common/file.h
  Core/GameEngine/Source/Common/System/File.cpp
  Core/GameEngine/Source/Common/System/LocalFile.cpp
  Core/GameEngine/Source/Common/System/RAMFile.cpp
  Core/GameEngine/Source/Common/System/StreamingArchiveFile.cpp
  Core/GameEngineDevice/Source/StdDevice/Common/StdLocalFileSystem.cpp
  Core/GameEngineDevice/Source/Win32Device/Common/Win32LocalFileSystem.cpp
Labels: Minor, Gen, ZH, Fix

#1307 [GEN][ZH] Fix broken Player muting for Observer
  Generals/Code/GameEngine/Source/GameNetwork/ConnectionManager.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/ConnectionManager.cpp
Labels: Bug, Minor, Gen, ZH

#1319 [ZH] Fix RenderObjClass memory leaks in W3DPropBuffer
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DPropBuffer.cpp
Labels: Minor, ZH, Memory, Stability

#1320 [GEN][ZH] Add a few checks to warn of memory leaks
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8renderer.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/dx8renderer.h
  Generals/Code/Libraries/Source/WWVegas/WW3D2/hlod.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/meshgeometry.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/BaseHeightMap.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/dx8renderer.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/dx8renderer.h
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/hlod.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WW3D2/meshgeometry.cpp
Labels: Minor, Refactor

#1323 [GEN][ZH] Remove bogus calls to memset
  Generals/Code/GameEngine/Source/GameClient/System/ParticleSys.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/System/ParticleSys.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DPropBuffer.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DTreeBuffer.cpp
Labels: Minor, Refactor

#1328 [CORE] Move AsciiString, UnicodeString files to Core
  Core/GameEngine/CMakeLists.txt
  Core/GameEngine/Include/Common/AsciiString.h
  Core/GameEngine/Include/Common/UnicodeString.h
  Core/GameEngine/Source/Common/System/AsciiString.cpp
  Core/GameEngine/Source/Common/System/UnicodeString.cpp
  Generals/Code/GameEngine/CMakeLists.txt
  Generals/Code/GameEngine/Include/Common/AsciiString.h
  Generals/Code/GameEngine/Include/Common/UnicodeString.h
  Generals/Code/GameEngine/Source/Common/System/AsciiString.cpp
  Generals/Code/GameEngine/Source/Common/System/UnicodeString.cpp
  GeneralsMD/Code/GameEngine/CMakeLists.txt
Labels: Gen, ZH, Unify

#1311 [ZH] Fix broken money deposit and withdraw audio and academy income record
  GeneralsMD/Code/GameEngine/Source/Common/RTS/Player.cpp
Labels: Audio, Bug, Minor, ZH

#1312 [GEN][ZH] Finalize the implementation for the 'Free Build' debug command
  Generals/Code/GameEngine/Source/Common/RTS/Money.cpp
  GeneralsMD/Code/GameEngine/Source/Common/RTS/Money.cpp
Labels: Minor, Gen, ZH, Debug

#1354 [CORE] Simplify how audio settings are accessed in AudioManager
  Core/GameEngine/Source/Common/Audio/GameAudio.cpp
Labels: Minor, Refactor

#1325 fix(log): Fix missing debug log arguments
  Core/GameEngine/Source/Common/Audio/GameAudio.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/WOLLobbyMenu.cpp
  Generals/Code/GameEngine/Source/GameClient/InGameUI.cpp
  Generals/Code/GameEngine/Source/GameClient/MessageStream/MetaEvent.cpp
  Generals/Code/GameEngine/Source/GameNetwork/ConnectionManager.cpp
  Generals/Code/GameEngine/Source/GameNetwork/FirewallHelper.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameLogic/W3DGhostObject.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/WOLLobbyMenu.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/InGameUI.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/MessageStream/MetaEvent.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/ConnectionManager.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/FirewallHelper.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameLogic/W3DGhostObject.cpp
Labels: Major, Gen, ZH, Debug, Crash

#1349 fix(options): Fix System Time and Game Time settings not loading and applying correctly
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/OptionsMenu.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/OptionsMenu.cpp
Labels: Minor, Gen, ZH, ThisProject

#1350 fix(ai): Fix memory leaks in AIGuard states
  Generals/Code/GameEngine/Include/GameLogic/AIGuard.h
  Generals/Code/GameEngine/Include/GameLogic/AITNGuard.h
  Generals/Code/GameEngine/Source/GameLogic/AI/AIGuard.cpp
  Generals/Code/GameEngine/Source/GameLogic/AI/AITNGuard.cpp
  GeneralsMD/Code/GameEngine/Include/GameLogic/AIGuard.h
  GeneralsMD/Code/GameEngine/Include/GameLogic/AIGuardRetaliate.h
  GeneralsMD/Code/GameEngine/Include/GameLogic/AITNGuard.h
  GeneralsMD/Code/GameEngine/Source/GameLogic/AI/AIGuard.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/AI/AIGuardRetaliate.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/AI/AITNGuard.cpp
Labels: Minor, Gen, ZH, Memory, Fix

#1370 build(debug): Add CMake option to generate full debug information for VC6 builds
  cmake/compilers.cmake
  cmake/config-build.cmake
Labels: Build, Debug

#1371 bugfix(debug): Fix memory corruption in DebugCrash()
  Generals/Code/GameEngine/Source/Common/System/Debug.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/Debug.cpp
Labels: Critical, Debug, ThisProject, Crash

#1372 build(debug): Fix GeneralsMD debug compile error when logging is turned off
  GeneralsMD/Code/GameEngine/Source/GameLogic/AI/AIPlayer.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/AI/AISkirmishPlayer.cpp
Labels: Minor, CompileBug, Debug

#1363 bugfix(audio): Fix muted audio after regaining window focus
  Core/GameEngine/Source/Common/Audio/GameAudio.cpp
Labels: Audio, Bug, Critical, Gen, ZH

#1357 refactor(audio): Remove unused audio fields in GlobalData
  Generals/Code/GameEngine/Include/Common/GlobalData.h
  Generals/Code/GameEngine/Source/Common/GlobalData.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/OptionsMenu.cpp
  GeneralsMD/Code/GameEngine/Include/Common/GlobalData.h
  GeneralsMD/Code/GameEngine/Source/Common/GlobalData.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/OptionsMenu.cpp
Labels: Minor, Refactor

#1353 feat(audio): Implement 'MoneyTransactionVolume' option to modify the volume of money deposit and withdraw audio events
  Core/GameEngine/Include/Common/AudioSettings.h
  Core/GameEngine/Source/Common/Audio/GameAudio.cpp
  Generals/Code/GameEngine/Include/Common/Money.h
  Generals/Code/GameEngine/Include/Common/UserPreferences.h
  Generals/Code/GameEngine/Source/Common/RTS/Money.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/OptionsMenu.cpp
  GeneralsMD/Code/GameEngine/Include/Common/Money.h
  GeneralsMD/Code/GameEngine/Include/Common/UserPreferences.h
  GeneralsMD/Code/GameEngine/Source/Common/RTS/Money.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/OptionsMenu.cpp
Labels: Audio, Enhancement, Minor, Gen, ZH

#1380 fix(debug): Fix copypasta in Debug.cpp
  Generals/Code/GameEngine/Source/Common/System/Debug.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/Debug.cpp
Labels: Bug, Minor, Debug, ThisProject

#1382 tweak(debug): Add more headless checks in preparation for the CI Replay Check
  Core/GameEngine/Source/Common/Audio/GameAudio.cpp
  Generals/Code/GameEngine/Source/Common/System/Debug.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/Debug.cpp
Labels: Minor, Debug

#1368 tweak(gui): Disable the combo box for the host's player name
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/LanGameOptionsMenu.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/WOLGameSetupMenu.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/LanGameOptionsMenu.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/WOLGameSetupMenu.cpp
Labels: Enhancement, GUI, Minor, Gen, ZH

#1395 bugfix(asciistring): Fix thread unsafe reference counting of AsciiString
  GeneralsMD/Code/Main/WinMain.cpp
Labels: Critical, ThisProject, Crash
