Repository TheSuperHackers/GeneralsGameCode, pull requests merged in 2025-09, with the labels that each got.

#1509 fix(compress): Fix a few memory leaks on fail conditions in Compression code
  Core/Libraries/Source/Compression/EAC/btreeencode.cpp
  Core/Libraries/Source/Compression/EAC/refencode.cpp
  Core/Libraries/Source/Compression/LZHCompress/NoxCompress.cpp
Labels: Minor, Memory, Fix

#1516 fix(filesystem): Decouple File System from NameKeyGenerator and its CRC influence
  Core/GameEngine/Include/Common/AsciiString.h
  Core/GameEngine/Include/Common/FileSystem.h
  Core/GameEngine/Include/Common/UnicodeString.h
  Core/GameEngine/Source/Common/System/FileSystem.cpp
  Generals/Code/GameEngine/Include/Common/NameKeyGenerator.h
  Generals/Code/GameEngine/Include/Common/STLTypedefs.h
  Generals/Code/GameEngine/Source/Common/NameKeyGenerator.cpp
  GeneralsMD/Code/GameEngine/Include/Common/NameKeyGenerator.h
  GeneralsMD/Code/GameEngine/Include/Common/STLTypedefs.h
  GeneralsMD/Code/GameEngine/Source/Common/NameKeyGenerator.cpp
Labels: Major, Gen, ZH, System, Fix

#1521 bugfix(upgrade): Fix fake GLA structures losing their selection and grouping when upgraded to real structures
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Upgrade/ReplaceObjectUpgrade.cpp
Labels: Bug, GLA, Minor, ZH

#1535 tweak(text): Add English substitute text for Fast Forward messages
  Generals/Code/GameEngine/Source/GameClient/MessageStream/CommandXlat.cpp
  Generals/Code/GameEngine/Source/GameClient/MessageStream/MetaEvent.cpp
  Generals/Code/GameEngine/Source/GameLogic/System/GameLogic.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/MessageStream/CommandXlat.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/MessageStream/MetaEvent.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/System/GameLogic.cpp
Labels: Minor, Text, Gen, ThisProject, Unify

#1534 refactor(language): Remove legacy code for loading Language9x.ini, HeaderTemplate9x.ini
  Generals/Code/GameEngine/Source/GameClient/GUI/HeaderTemplate.cpp
  Generals/Code/GameEngine/Source/GameClient/GlobalLanguage.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/HeaderTemplate.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GlobalLanguage.cpp
Labels: Minor, Gen, ZH, Refactor

#1542 bugfix(aiupdate): Chinooks no longer get stuck when performing Combat Drops into buildings above terrain height
  Generals/Code/GameEngine/Source/GameLogic/Object/Update/AIUpdate/ChinookAIUpdate.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Update/AIUpdate/ChinookAIUpdate.cpp
Labels: Bug, Minor, Gen, ZH, NoRetail

#1571 bugfix(collide): Prevent retail CRC mismatch from changes to Sabotage Crate Collide
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Collide/CrateCollide/SabotageCommandCenterCrateCollide.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Collide/CrateCollide/SabotageFakeBuilding.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Collide/CrateCollide/SabotageInternetCenterCrateCollide.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Collide/CrateCollide/SabotageMilitaryFactoryCrateCollide.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Collide/CrateCollide/SabotagePowerPlantCrateCollide.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Collide/CrateCollide/SabotageSuperweaponCrateCollide.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Collide/CrateCollide/SabotageSupplyCenterCrateCollide.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Collide/CrateCollide/SabotageSupplyDropzoneCrateCollide.cpp
Labels: Bug, Major, ThisProject

#1576 fix(guiedit): Fix crash on GuiEdit launch by initializing GlobalLanguage after GlobalData
  Generals/Code/Tools/GUIEdit/Source/GUIEdit.cpp
  GeneralsMD/Code/Tools/GUIEdit/Source/GUIEdit.cpp
Labels: Major, Tools, ThisProject

#1564 build(pathfinder): Remove unused code of EXPAND_ONE_CELL
  Generals/Code/GameEngine/Source/GameLogic/AI/AIPathfind.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/AI/AIPathfind.cpp
Labels: Minor, CompileBug

#1539 bugfix(module): Consistently yield experience for direct flame kills
  Generals/Code/GameEngine/Include/GameLogic/Module/FlammableUpdate.h
  Generals/Code/GameEngine/Source/GameLogic/Object/Update/FlammableUpdate.cpp
  GeneralsMD/Code/GameEngine/Include/GameLogic/Module/FlammableUpdate.h
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Update/FlammableUpdate.cpp
Labels: Bug, China, Minor, Gen, ZH

#1523 tweak(network): Transfer assets of disconnected players to allies
  Generals/Code/GameEngine/Source/GameNetwork/Network.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/Network.cpp
Labels: Enhancement, Major, Gen, ZH, NoRetail

#1588 refactor: Remove ELEMENTS_OF macro
  Core/Libraries/Include/Lib/BaseTypeCore.h
  GeneralsMD/Code/GameEngine/Source/GameClient/Eva.cpp
Labels: Minor, Refactor

#1601 bugfix(behavior): Fix hardcoded cash hack value for Black Lotus
  Generals/Code/GameEngine/Source/GameLogic/Object/Update/SpecialAbilityUpdate.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Update/SpecialAbilityUpdate.cpp
Labels: Bug, China, Minor, Gen, ZH, NoRetail

#929 ci(release): Add weekly pre-releases workflow for Generals and GeneralsMD
  .github/workflows/weekly-release.yml
Labels: Major, Build

#994 bugfix(pathfinder): Fix various crashes in Pathfinder due to inadequate cleanup of pathfinding resources
  Core/GameEngine/Include/Common/GameDefines.h
  Generals/Code/GameEngine/Include/GameLogic/AIPathfind.h
  Generals/Code/GameEngine/Source/GameLogic/AI/AIPathfind.cpp
  GeneralsMD/Code/GameEngine/Include/GameLogic/AIPathfind.h
  GeneralsMD/Code/GameEngine/Source/GameLogic/AI/AIPathfind.cpp
Labels: Critical, Gen, ZH, Crash

#1606 refactor(message): Simplify double click related code in MetaEventTranslator::translateGameMessage()
  Generals/Code/GameEngine/Source/GameClient/MessageStream/MetaEvent.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/MessageStream/MetaEvent.cpp
Labels: Minor, Refactor

#1597 bugfix(view): Fix camera terrain height adjustment in Replay playback
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DView.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DView.cpp
Labels: Bug, Major, Gen, ZH

#1598 bugfix(view): Fix camera terrain height adjustment during camera playback in Replay playback
  Generals/Code/GameEngine/Include/GameClient/View.h
  Generals/Code/GameEngine/Source/GameClient/InGameUI.cpp
  Generals/Code/GameEngine/Source/GameClient/View.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DView.cpp
  GeneralsMD/Code/GameEngine/Include/GameClient/View.h
  GeneralsMD/Code/GameEngine/Source/GameClient/InGameUI.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/View.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DView.cpp
Labels: Bug, Minor, Gen, ZH

#1599 bugfix(view): Prevent moving the camera with most user inputs during camera playback in Replay playback
  Generals/Code/GameEngine/Include/GameClient/View.h
  Generals/Code/GameEngine/Source/GameClient/View.cpp
  Generals/Code/GameEngine/Source/GameLogic/System/GameLogicDispatch.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DView.cpp
  GeneralsMD/Code/GameEngine/Include/GameClient/View.h
  GeneralsMD/Code/GameEngine/Source/GameClient/View.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/System/GameLogicDispatch.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DView.cpp
Labels: Bug, Minor, ThisProject

#1590 bugfix(shadow): Fix missing tree shadow decals when no object shadow decals exist
  Generals/Code/GameEngineDevice/Include/W3DDevice/GameClient/W3DProjectedShadow.h
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Drawable/Draw/W3DModelDraw.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Shadow/W3DProjectedShadow.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Shadow/W3DShadow.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DScene.cpp
  GeneralsMD/Code/GameEngineDevice/Include/W3DDevice/GameClient/W3DProjectedShadow.h
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/Drawable/Draw/W3DModelDraw.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/Shadow/W3DProjectedShadow.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/Shadow/W3DShadow.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DScene.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DTreeBuffer.cpp
Labels: Bug, Minor, ZH, Rendering

#1592 feat(client): Make opacity and shadows of build placement preview objects customizable
  Generals/Code/GameEngine/Include/Common/GlobalData.h
  Generals/Code/GameEngine/Source/Common/GlobalData.cpp
  Generals/Code/GameEngine/Source/GameClient/InGameUI.cpp
  GeneralsMD/Code/GameEngine/Include/Common/GlobalData.h
  GeneralsMD/Code/GameEngine/Source/Common/GlobalData.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/InGameUI.cpp
Labels: Enhancement, Minor, Gen, ZH, Mod

#1543 bugfix(buildassistant): Prevent showing the invalid placement indicator for shrouded objects
  Generals/Code/GameEngine/Source/Common/System/BuildAssistant.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/BuildAssistant.cpp
Labels: Bug, Minor, Gen, ZH

#1604 bugfix(module): GLA Battle Bus can no longer be subdued indefinitely
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Body/ActiveBody.cpp
Labels: Bug, GLA, Minor, ZH, NoRetail

#1522 bugfix(contain): Fix unit attachments being visible in fog after exiting a GLA Tunnel Network
  Generals/Code/GameEngine/Source/GameLogic/Object/Contain/TunnelContain.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Contain/TunnelContain.cpp
Labels: Bug, GLA, Major, Gen, ZH, NoRetail

#1635 bugfix(input): Fix cargo units selection hack
  GeneralsMD/Code/GameEngine/Include/GameClient/SelectionInfo.h
  GeneralsMD/Code/GameEngine/Source/GameClient/MessageStream/SelectionXlat.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/SelectionInfo.cpp
Labels: Bug, Major, ZH, ThisProject, Input

#1568 fix(shadow): Fix counting of W3DProjectedShadowManager::m_numDecalShadows
  Generals/Code/GameEngineDevice/Include/W3DDevice/GameClient/W3DProjectedShadow.h
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Shadow/W3DProjectedShadow.cpp
  GeneralsMD/Code/GameEngineDevice/Include/W3DDevice/GameClient/W3DProjectedShadow.h
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/Shadow/W3DProjectedShadow.cpp
Labels: Minor, Gen, ZH, Fix

#1646 bugfix(buildassistant): Fix Network game mismatch by using the correct player index to check shroud status when placing structures
  Generals/Code/GameEngine/Source/Common/System/BuildAssistant.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/BuildAssistant.cpp
Labels: Blocker, Bug, Gen, ZH, ThisProject

#1633 bugfix(debug): Fix missing toggle for DEMO_TOGGLE_NO_DRAW
  Generals/Code/GameEngine/Source/GameClient/MessageStream/CommandXlat.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/MessageStream/CommandXlat.cpp
Labels: Bug, Major, Debug

#1653 tweak(water): Decouple water movement time step from render update
  Generals/Code/GameEngineDevice/Include/W3DDevice/GameClient/W3DWater.h
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/Water/W3DWater.cpp
  GeneralsMD/Code/GameEngineDevice/Include/W3DDevice/GameClient/W3DWater.h
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/Water/W3DWater.cpp
Labels: Enhancement, Minor, Gen, ZH, Rendering

#1546 feat(ui): Implement simple Latency and FPS display
  Generals/Code/GameEngine/Include/Common/GlobalData.h
  Generals/Code/GameEngine/Include/Common/UserPreferences.h
  Generals/Code/GameEngine/Include/GameClient/InGameUI.h
  Generals/Code/GameEngine/Source/Common/GlobalData.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/OptionsMenu.cpp
  Generals/Code/GameEngine/Source/GameClient/InGameUI.cpp
  GeneralsMD/Code/GameEngine/Include/Common/GlobalData.h
  GeneralsMD/Code/GameEngine/Include/Common/UserPreferences.h
  GeneralsMD/Code/GameEngine/Include/GameClient/InGameUI.h
  GeneralsMD/Code/GameEngine/Source/Common/GlobalData.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/OptionsMenu.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/InGameUI.cpp
Labels: Enhancement, Minor, Gen, ZH
