Repository TheSuperHackers/GeneralsGameCode, pull requests merged in 2025-08, with the labels that each got.

#1396 bugfix(gametext): Prevent crashing in WorldBuilder, MapCacheBuilder by moving updateWindowTitle() out of GameText class
  Generals/Code/GameEngine/Source/Common/GameEngine.cpp
  Generals/Code/GameEngine/Source/GameClient/GameText.cpp
  GeneralsMD/Code/GameEngine/Source/Common/GameEngine.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GameText.cpp
Labels: Critical, Tools, ThisProject, Crash

#1397 fix(debug): Fix Release logging in tools
  Core/Tools/ImagePacker/Source/WinMain.cpp
  Core/Tools/MapCacheBuilder/Source/WinMain.cpp
  Generals/Code/Tools/GUIEdit/Source/WinMain.cpp
  Generals/Code/Tools/WorldBuilder/src/WorldBuilder.cpp
  GeneralsMD/Code/Tools/GUIEdit/Source/WinMain.cpp
  GeneralsMD/Code/Tools/WorldBuilder/src/WorldBuilder.cpp
Labels: Minor, ThisProject, Memory, Fix

#1393 fix(cpudetect): Fix version and memory detection
  Core/Libraries/Source/WWVegas/WWLib/cpudetect.cpp
  Core/Libraries/Source/WWVegas/WWLib/cpudetect.h
Labels: Minor, Fix

#1338 bugfix(controls): Fix and improve next idle worker selection with contained workers
  Core/GameEngine/Include/Common/STLUtils.h
  Generals/Code/GameEngine/Include/GameClient/InGameUI.h
  Generals/Code/GameEngine/Include/GameLogic/GameLogic.h
  Generals/Code/GameEngine/Source/GameClient/InGameUI.cpp
  GeneralsMD/Code/GameEngine/Include/GameClient/InGameUI.h
  GeneralsMD/Code/GameEngine/Source/GameClient/InGameUI.cpp
Labels: Bug, Enhancement, Minor, Gen, ZH

#1402 refactor(specialpower): Clean up ParticleUplinkCannonUpdate::initiateIntentToDoSpecialPower
  Generals/Code/GameEngine/Source/GameLogic/Object/Update/ParticleUplinkCannonUpdate.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Update/ParticleUplinkCannonUpdate.cpp
Labels: Minor, Gen, ZH, Refactor

#1403 docs(file): Fix incorrect comment in File class flags
  Core/GameEngine/Include/Common/file.h
Labels: Documentation

#1355 bugfix(controls): Fix double-press group selection logic not reselecting deselected groups
  Generals/Code/GameEngine/Include/GameClient/InGameUI.h
  Generals/Code/GameEngine/Source/GameClient/InGameUI.cpp
  Generals/Code/GameEngine/Source/GameClient/MessageStream/SelectionXlat.cpp
  GeneralsMD/Code/GameEngine/Include/GameClient/InGameUI.h
  GeneralsMD/Code/GameEngine/Source/GameClient/InGameUI.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/MessageStream/SelectionXlat.cpp
Labels: Bug, Minor, Gen, ZH

#1359 bugfix(object): Fix crash when an object is created with veterancy and an upgrade that applies a terrain decal
  Generals/Code/GameEngine/Source/GameLogic/Object/Object.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Object.cpp
Labels: Major, Gen, ZH, Crash, Mod

#1409 bugfix(cpudetect): Fix issues caused by broken memory benchmark value
  Core/Libraries/Source/WWVegas/WWLib/CMakeLists.txt
  Core/Libraries/Source/WWVegas/WWLib/WWCommon.h
  Core/Libraries/Source/WWVegas/WWLib/always.h
  Core/Libraries/Source/WWVegas/WWLib/cpudetect.h
  Generals/Code/GameEngine/Include/Common/GameCommon.h
  Generals/Code/GameEngine/Include/Common/GameLOD.h
  Generals/Code/GameEngine/Source/Common/GameLOD.cpp
  Generals/Code/GameEngineDevice/Include/W3DDevice/GameClient/W3DShaderManager.h
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DShaderManager.cpp
  GeneralsMD/Code/GameEngine/Include/Common/GameCommon.h
  GeneralsMD/Code/GameEngine/Include/Common/GameLOD.h
  GeneralsMD/Code/GameEngine/Source/Common/GameLOD.cpp
  GeneralsMD/Code/GameEngineDevice/Include/W3DDevice/GameClient/W3DShaderManager.h
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DShaderManager.cpp
Labels: Bug, Major, ThisProject

#1411 fix(contain): Fix compile errors with RETAIL_COMPATIBLE_CRC 0
  Generals/Code/GameEngine/Source/GameLogic/Object/Contain/OpenContain.cpp
Labels: Minor, Build, Gen, ThisProject, Fix

#1398 chore(script): Add script to help move files to Core
  scripts/cpp/unify_move_files.py
Labels: ThisProject

#1414 feat(file): Implement functions in LocalFile for writing formatted strings to a file
  Core/GameEngine/Include/Common/LocalFile.h
  Core/GameEngine/Include/Common/RAMFile.h
  Core/GameEngine/Include/Common/file.h
  Core/GameEngine/Source/Common/System/LocalFile.cpp
  Core/GameEngine/Source/Common/System/RAMFile.cpp
Labels: Enhancement

#1388 unify(common): Move RandomValue files to Core
  Core/GameEngine/CMakeLists.txt
  Core/GameEngine/Include/Common/RandomValue.h
  Core/GameEngine/Include/GameClient/ClientRandomValue.h
  Core/GameEngine/Include/GameLogic/LogicRandomValue.h
  Core/GameEngine/Source/Common/RandomValue.cpp
  Generals/Code/GameEngine/CMakeLists.txt
  Generals/Code/GameEngine/Include/Common/RandomValue.h
  Generals/Code/GameEngine/Include/GameClient/ClientRandomValue.h
  Generals/Code/GameEngine/Include/GameLogic/LogicRandomValue.h
  Generals/Code/GameEngine/Source/Common/RandomValue.cpp
  GeneralsMD/Code/GameEngine/CMakeLists.txt
  scripts/cpp/unify_move_files.py
Labels: Gen, ZH, Unify

#1384 unify(debug): Merge and move GameEngine's Debug files to Core
  Core/GameEngine/CMakeLists.txt
  Core/GameEngine/Include/Common/Debug.h
  Core/GameEngine/Source/Common/System/Debug.cpp
  Core/Libraries/Source/WWVegas/WWDebug/wwdebug.h
  Generals/Code/GameEngine/CMakeLists.txt
  Generals/Code/GameEngine/Include/Common/Debug.h
  Generals/Code/GameEngine/Source/Common/System/Debug.cpp
  GeneralsMD/Code/GameEngine/CMakeLists.txt
  scripts/cpp/unify_move_files.py
Labels: Gen, ZH, Unify

#1412 feat(controlbar): Implement full viewport support for 'Control Bar Pro' Addons
  Generals/Code/GameEngine/Include/Common/GlobalData.h
  Generals/Code/GameEngine/Include/GameClient/ControlBar.h
  Generals/Code/GameEngine/Source/Common/CommandLine.cpp
  Generals/Code/GameEngine/Source/Common/GameEngine.cpp
  Generals/Code/GameEngine/Source/Common/GlobalData.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/ControlBar/ControlBar.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/ControlBarCallback.cpp
  Generals/Code/GameEngine/Source/GameClient/InGameUI.cpp
  GeneralsMD/Code/GameEngine/Include/Common/GlobalData.h
  GeneralsMD/Code/GameEngine/Include/GameClient/ControlBar.h
  GeneralsMD/Code/GameEngine/Source/Common/CommandLine.cpp
  GeneralsMD/Code/GameEngine/Source/Common/GameEngine.cpp
  GeneralsMD/Code/GameEngine/Source/Common/GlobalData.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/ControlBar/ControlBar.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/ControlBarCallback.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/InGameUI.cpp
Labels: Enhancement, GUI, Major, Gen, ZH

#1417 ci: Fix up Replay Checker
  .github/workflows/check-replays.yml
Labels: Build

#1431 feat(file): Implement character read and write functions for LocalFile
  Core/GameEngine/Include/Common/LocalFile.h
  Core/GameEngine/Include/Common/RAMFile.h
  Core/GameEngine/Include/Common/file.h
  Core/GameEngine/Source/Common/System/LocalFile.cpp
  Core/GameEngine/Source/Common/System/RAMFile.cpp
Labels: Enhancement

#1233 refactor(recorder): Replace fopen with FileSystem in Replay Recorder
  Generals/Code/GameEngine/Include/Common/Recorder.h
  Generals/Code/GameEngine/Source/Common/Recorder.cpp
  GeneralsMD/Code/GameEngine/Include/Common/Recorder.h
  GeneralsMD/Code/GameEngine/Source/Common/Recorder.cpp
Labels: Major, Gen, ZH, Refactor

#1424 fix(debug): Print stack trace for unhandled win32 exceptions to debug log
  Generals/Code/GameEngine/Source/Common/System/StackDump.cpp
  Generals/Code/GameEngine/Source/GameNetwork/GameSpy/Thread/BuddyThread.cpp
  Generals/Code/GameEngine/Source/GameNetwork/GameSpy/Thread/GameResultsThread.cpp
  Generals/Code/GameEngine/Source/GameNetwork/GameSpy/Thread/PeerThread.cpp
  Generals/Code/GameEngine/Source/GameNetwork/GameSpy/Thread/PersistentStorageThread.cpp
  Generals/Code/GameEngine/Source/GameNetwork/GameSpy/Thread/PingThread.cpp
  Generals/Code/Main/WinMain.cpp
  Generals/Code/Tools/WorldBuilder/src/WorldBuilder.cpp
  GeneralsMD/Code/GameEngine/Source/Common/System/StackDump.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/GameSpy/Thread/BuddyThread.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/GameSpy/Thread/GameResultsThread.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/GameSpy/Thread/PeerThread.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/GameSpy/Thread/PersistentStorageThread.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/GameSpy/Thread/PingThread.cpp
  GeneralsMD/Code/Main/WinMain.cpp
  GeneralsMD/Code/Tools/WorldBuilder/src/WorldBuilder.cpp
Labels: Minor, Debug, Fix

#1439 bugfix(textureloader): Fix Generals game hang with TextureLoader::Validate_Texture_Size
  Generals/Code/Libraries/Source/WWVegas/WW3D2/textureloader.cpp
  Generals/Code/Libraries/Source/WWVegas/WW3D2/texturethumbnail.cpp
Labels: Blocker, ThisProject, Crash

#1420 bugfix(script): Fix crash if nearest command button target is not found
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Object.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/ScriptEngine/ScriptActions.cpp
Labels: Major, ZH, Crash, Mod

#1429 bugfix(input): Prevent dead units from blocking positional context commands
  Generals/Code/GameEngine/Source/GameClient/MessageStream/CommandXlat.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/MessageStream/CommandXlat.cpp
Labels: Bug, Minor, Gen, ZH, Input

#1432 bugfix(controlbar): Show the experience bar for the selected player when observing
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/GUI/GUICallbacks/W3DControlBar.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/GUI/GUICallbacks/W3DControlBar.cpp
Labels: Bug, GUI, Minor, Gen, ZH

#1408 unify(memory): Merge and move GameMemory files to Core (3)
  Core/GameEngine/CMakeLists.txt
  Core/GameEngine/Include/Common/GameMemory.h
  Core/GameEngine/Include/Common/GameMemoryNull.h
  Core/GameEngine/Source/Common/System/GameMemory.cpp
  Core/GameEngine/Source/Common/System/GameMemoryInit.cpp
  Core/GameEngine/Source/Common/System/GameMemoryInitDMA_Generals.inl
  Core/GameEngine/Source/Common/System/GameMemoryInitDMA_GeneralsMD.inl
  Core/GameEngine/Source/Common/System/GameMemoryInitPools_Generals.inl
  Core/GameEngine/Source/Common/System/GameMemoryInitPools_GeneralsMD.inl
  Core/GameEngine/Source/Common/System/GameMemoryNull.cpp
  Generals/Code/GameEngine/CMakeLists.txt
  Generals/Code/GameEngine/Include/Common/GameMemory.h
  Generals/Code/GameEngine/Source/Common/System/GameMemory.cpp
  Generals/Code/GameEngine/Source/Common/System/MemoryInit.cpp
  GeneralsMD/Code/GameEngine/CMakeLists.txt
  GeneralsMD/Code/GameEngine/Include/Common/GameMemoryNull.h
  GeneralsMD/Code/GameEngine/Source/Common/System/GameMemoryNull.cpp
  scripts/cpp/unify_move_files.py
Labels: Gen, ZH, Unify

#1437 refactor(network): Replace branches with switches in Network command parse functions
  Generals/Code/GameEngine/Source/GameNetwork/NetCommandMsg.cpp
  Generals/Code/GameEngine/Source/GameNetwork/NetPacket.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/NetCommandMsg.cpp
  GeneralsMD/Code/GameEngine/Source/GameNetwork/NetPacket.cpp
Labels: Minor, Performance, Gen, ZH, Refactor

#1389 tweak(recorder): Improve performance of Replay playback slightly by increasing the Replay file read buffer to 8192 bytes
  Generals/Code/GameEngine/Source/Common/Recorder.cpp
  GeneralsMD/Code/GameEngine/Source/Common/Recorder.cpp
Labels: Minor, Performance, Gen, ZH

#1446 tweak(input): Allow camera zoom while game is paused
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DView.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DView.cpp
Labels: Enhancement, Minor, Gen, ZH

#1453 bugfix(input): No longer require two clicks to deselect worker after cancelling building placement in alternate mouse mode
  Generals/Code/GameEngine/Source/GameClient/MessageStream/SelectionXlat.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/MessageStream/SelectionXlat.cpp
Labels: Bug, Minor, ThisProject, Input

#1458 bugfix(object): Fix veterancy effect spawning at the map origin when a veteran unit is produced
  Generals/Code/GameEngine/Include/GameLogic/ExperienceTracker.h
  Generals/Code/GameEngine/Source/GameLogic/Object/Create/VeterancyGainCreate.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/ExperienceTracker.cpp
  GeneralsMD/Code/GameEngine/Include/GameLogic/ExperienceTracker.h
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Create/VeterancyGainCreate.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/ExperienceTracker.cpp
Labels: Bug, Minor, Gen, ZH

#1467 bugfix(input): Prevent mouse wheel from stopping camera scrolling
  Generals/Code/GameEngine/Source/GameClient/MessageStream/LookAtXlat.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/MessageStream/LookAtXlat.cpp
Labels: Bug, Minor, Gen, ZH, Input

#1480 tweak(menu): Show mouse and menu immediately when shellmap is disabled
  Generals/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/MainMenu.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/GUICallbacks/Menus/MainMenu.cpp
Labels: GUI, Minor, Gen, ZH

#1471 tweak(input): Remove input latency for group creation in multiplayer games
  Generals/Code/GameEngine/Include/Common/Player.h
  Generals/Code/GameEngine/Source/Common/RTS/Player.cpp
  Generals/Code/GameEngine/Source/GameClient/MessageStream/CommandXlat.cpp
  Generals/Code/GameEngine/Source/GameLogic/System/GameLogicDispatch.cpp
  GeneralsMD/Code/GameEngine/Include/Common/Player.h
  GeneralsMD/Code/GameEngine/Source/Common/RTS/Player.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/MessageStream/CommandXlat.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/System/GameLogicDispatch.cpp
Labels: Enhancement, Minor, Gen, ZH, Input

#1479 tweak(client): Show additional information for selected objects while observing
  Generals/Code/GameEngine/Source/GameClient/Drawable.cpp
  Generals/Code/GameEngine/Source/GameClient/GUI/ControlBar/ControlBar.cpp
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3dWaypointBuffer.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/Drawable.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/GUI/ControlBar/ControlBar.cpp
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3dWaypointBuffer.cpp
Labels: Enhancement, Minor, Gen, ZH

#1499 refactor(input): Simplify click conditions for MSG_RAW_MOUSE_RIGHT_BUTTON_UP
  Generals/Code/GameEngine/Source/GameClient/MessageStream/SelectionXlat.cpp
  GeneralsMD/Code/GameEngine/Source/GameClient/MessageStream/SelectionXlat.cpp
Labels: Minor, Gen, ZH, Refactor, Input

#1498 perf(ini): Decrease cost of INI::isDeclarationOfType by around 10%
  Generals/Code/GameEngine/Source/Common/INI/INI.cpp
  GeneralsMD/Code/GameEngine/Source/Common/INI/INI.cpp
Labels: Minor, Performance, Gen, ZH, Refactor

#1494 feat(string): Implement functions for AsciiString, UnicodeString that build a new string with a fixed length
  Core/GameEngine/Include/Common/AsciiString.h
  Core/GameEngine/Include/Common/UnicodeString.h
  Core/GameEngine/Source/Common/System/AsciiString.cpp
  Core/GameEngine/Source/Common/System/UnicodeString.cpp
Labels: Minor, System
