Repository TheSuperHackers/GeneralsGameCode, pull requests merged in 2025-03, with the labels that each got.

#379 Prepare issue templates and other github specific files
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yml
  SECURITY.md
Labels: Documentation, Security

#431 Fix filename casings in CMakeLists for case-sensitive systems.
  Generals/Code/GameEngine/CMakeLists.txt
  Generals/Code/Libraries/Source/WWVegas/WWDownload/CMakeLists.txt
Labels: Build

#428 [VS6] Add CI for generals and zerohour
  .github/workflows/build-vc6-common.yml
  .github/workflows/build-vc6-generals.yml
  .github/workflows/build-vc6-zerohour.yml
  .gitignore
Labels: Build

#441 Implement options to control building internal and debug code.
  CMakeLists.txt
  CMakePresets.json
  Generals/Code/GameEngine/CMakeLists.txt
  Generals/Code/Libraries/Source/WWVegas/CMakeLists.txt
  Generals/Code/Tools/WW3D/max2w3d/CMakeLists.txt
  GeneralsMD/Code/GameEngine/CMakeLists.txt
  GeneralsMD/Code/Libraries/Source/WWVegas/CMakeLists.txt
  GeneralsMD/Code/Libraries/Source/profile/CMakeLists.txt
  GeneralsMD/Code/Tools/WW3D/max2w3d/CMakeLists.txt
Labels: Build

#449 Add precompiled header support to "GameEngine" targets.
  Generals/Code/GameEngine/CMakeLists.txt
  GeneralsMD/Code/GameEngine/CMakeLists.txt
Labels: Build

#447 README.md: Remove that this project is archived and doesn't accept PRs
  README.md
Labels: Documentation

#452 Fix building debug and internal builds.
  Generals/Code/GameEngine/CMakeLists.txt
  GeneralsMD/Code/GameEngine/CMakeLists.txt
  GeneralsMD/Code/Libraries/CMakeLists.txt
  GeneralsMD/Code/Libraries/Source/debug/CMakeLists.txt
  GeneralsMD/Code/Libraries/Source/debug/debug_stack.cpp
  GeneralsMD/Code/Libraries/Source/profile/CMakeLists.txt
  GeneralsMD/Code/Main/CMakeLists.txt
  GeneralsMD/Code/Tools/GUIEdit/CMakeLists.txt
  GeneralsMD/Code/Tools/ImagePacker/CMakeLists.txt
  GeneralsMD/Code/Tools/MapCacheBuilder/CMakeLists.txt
  GeneralsMD/Code/Tools/PATCHGET/CMakeLists.txt
  GeneralsMD/Code/Tools/ParticleEditor/CMakeLists.txt
  GeneralsMD/Code/Tools/WorldBuilder/CMakeLists.txt
Labels: Critical, Build

#456 Add install targets if install path found.
  Generals/CMakeLists.txt
  Generals/Code/Main/CMakeLists.txt
  Generals/Code/Tools/WorldBuilder/CMakeLists.txt
  GeneralsMD/CMakeLists.txt
  GeneralsMD/Code/Main/CMakeLists.txt
  GeneralsMD/Code/Tools/WorldBuilder/CMakeLists.txt
Labels: Build

#483 [GITHUB] Refactor CI to better support multiple profiles
  .github/workflows/build-games.yml
  .github/workflows/build-vc6-generals.yml
  .github/workflows/build-vc6-zerohour.yml
  .github/workflows/toolchain-common.yml
  CMakePresets.json
Labels: Build

#481 Added script to fix file name case in includes
  scripts/cpp/fixInludesCase.sh
Labels: Executable, Build, Tools

#507 [Gen] Fix incorrect AsciiString hash implementation for non-stlport
  Generals/Code/GameEngine/Include/Common/STLTypedefs.h
Labels: Major, Build, Generals

#519 [ZH] Fix compilation errors in profile library
  CMakeLists.txt
  GeneralsMD/Code/Libraries/Source/debug/debug.h
  GeneralsMD/Code/Libraries/Source/profile/profile_funclevel.cpp
Labels: Minor, Build

#451 Add natvis for AsciiString, UnicodeString, _STL::_List_base, _STL::_Vector_base
  CMakeLists.txt
  resources/CMakeLists.txt
  resources/visualstudio/asciistring.natvis
  resources/visualstudio/stllist.natvis
  resources/visualstudio/stlvector.natvis
  resources/visualstudio/unicodestring.natvis
Labels: Minor, Debug

#524 [GEN] Fix incorrect minor version
  Generals/Code/Main/CMakeLists.txt
Labels: Bug, ThisProject

#532 [ZH] Fix stringstream for Zero Hour Tools build
  .github/workflows/toolchain-common.yml
  Dependencies/Utility/Utility/sstream_adapter.h
  GeneralsMD/Code/Tools/mangler/wlib/wdebug.h
  GeneralsMD/Code/Tools/matchbot/mydebug.h
  GeneralsMD/Code/Tools/matchbot/wlib/wdebug.h
Labels: Minor, Build

#531 [GitHub] Add CI for VS2022
  .github/workflows/build-games.yml
  .github/workflows/build-toolchain.yml
  .github/workflows/ci.yml
  Generals/CMakeLists.txt
  GeneralsMD/CMakeLists.txt
Labels: Major, Build

#450 [GEN][ZH] Fix incorrect AsciiString hash implementation for non-stlport
  Generals/Code/GameEngine/Include/Common/STLTypedefs.h
  GeneralsMD/Code/GameEngine/Include/Common/STLTypedefs.h
Labels: Bug, Major, Generals, ZeroHour

#438 [GEN][ZH] Fix uninitialized memory access in Get_OS_Info
  Generals/Code/Libraries/Source/WWVegas/WWLib/cpudetect.cpp
  GeneralsMD/Code/Libraries/Source/WWVegas/WWLib/cpudetect.cpp
Labels: Bug, Critical, Generals, ZeroHour
