Repository TheSuperHackers/GeneralsGameCode, pull requests merged in 2025-10, with the labels that each got.

#1617 bugfix(jetaiupdate): Fix pairs of Jets not always waiting for each other before takeoff
  Generals/Code/GameEngine/Include/GameLogic/Module/BehaviorModule.h
  Generals/Code/GameEngine/Include/GameLogic/Module/ParkingPlaceBehavior.h
  Generals/Code/GameEngine/Source/GameLogic/Object/Behavior/ParkingPlaceBehavior.cpp
  Generals/Code/GameEngine/Source/GameLogic/Object/Update/AIUpdate/JetAIUpdate.cpp
  GeneralsMD/Code/GameEngine/Include/GameLogic/Module/BehaviorModule.h
  GeneralsMD/Code/GameEngine/Include/GameLogic/Module/FlightDeckBehavior.h
  GeneralsMD/Code/GameEngine/Include/GameLogic/Module/ParkingPlaceBehavior.h
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Behavior/FlightDeckBehavior.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Behavior/ParkingPlaceBehavior.cpp
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Update/AIUpdate/JetAIUpdate.cpp
Labels: Bug, China, Minor, USA, Gen, ZH, NoRetail

#1662 tweak(fps): Simplify function W3DDisplay::updateAverageFPS() and remove its frame spike filter
  Generals/Code/GameEngine/Include/Common/GameEngine.h
  Generals/Code/GameEngineDevice/Include/W3DDevice/GameClient/W3DDisplay.h
  Generals/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DDisplay.cpp
  GeneralsMD/Code/GameEngine/Include/Common/GameEngine.h
  GeneralsMD/Code/GameEngineDevice/Include/W3DDevice/GameClient/W3DDisplay.h
  GeneralsMD/Code/GameEngineDevice/Source/W3DDevice/GameClient/W3DDisplay.cpp
Labels: Minor, Gen, ZH, Refactor

#1665 tweak(module): Add 'TransferSelection' field to CreateObjectDie INI module to allow transfer selection on object creation
  GeneralsMD/Code/GameEngine/Include/GameLogic/Module/CreateObjectDie.h
  GeneralsMD/Code/GameEngine/Source/GameLogic/Object/Die/CreateObjectDie.cpp
Labels: Bug, Enhancement, GLA, Minor, ZH
